<link rel="shortcut icon" href="{f:uri.resource(path:'Icons/favicon.ico', extensionName: 'skeleton')}" type="image/icon">
<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/layout.css', extensionName: 'skeleton')}">
<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/base.css', extensionName: 'skeleton')}">

<div class="site_error">
    <div class="inline">
        <span class="site_error_num">Oops</span>
        <span class="site_error_pip">|</span>
        <span class="site_error_msg">Error</span>
    </div>
</div>
