<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Navigation">
  <header class="navigation">
    <nav class="navigation-wrapper">
      <div class="navigation-brand">
        <f:cObject typoscriptObjectPath="lib.logoSVG" data="{src: 'EXT:skeleton/Resources/Public/Images/logo.svg'}" />
      </div>

      <f:if condition="{navigation}">
        <div class="navigation-list">
          <f:render partial="Navigation" arguments="{_all}" />
        </div>
      </f:if>
    </nav>
  </header>
</f:section>

<f:section name="Main">
  <main class="content">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
  </main>
</f:section>

<f:section name="Footer">
  <footer>
    <f:render partial="Footer" arguments="{_all}" />
    <f:render partial="ScrollTop" />
  </footer>
</f:section>

</html>
