<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
  <f:asset.css
    identifier="inter"
    rel="preload"
    as="font"
    type="font/ttf"
    href="EXT:skeleton/Resources/Public/Fonts/Inter/Inter-VariableFont.ttf"
    crossorigin="anonymous"
  />
</f:comment>

<f:spaceless>
  <f:render section="Navigation" arguments="{_all}" />
  <!--TYPO3SEARCH_begin-->
  <f:render section="Main" arguments="{_all}" />
  <!--TYPO3SEARCH_end-->
  <f:render section="Footer" arguments="{_all}" />
</f:spaceless>

</html>