<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.css identifier="cards" href="EXT:skeleton/Resources/Public/Css/cards.css" />

<skeleton:wrapper render="{data}" class="cards">
  <skeleton:container render="{data}">
    <f:render partial="Rte" arguments="{_all}" />

    <f:if condition="{records}">
      <div class="cards-wrapper">
        <f:for each="{records}" as="card">
          <div class="card{f:if(condition:'{flexForm.border}',then:' card-border')}">
            <div class="card-inner{f:if(condition:'{card.image}',else:' card-inner-not-image')}{f:if(condition:'{card.data.title} && {card.data.description} && {card.data.link}',then:' card-inner-not-content')}">
              <f:for each="{card.image}" as="image">
                <div class="card-image">
                  <f:render partial="Picture" arguments="{file: image}" />
                </div>
              </f:for>

              <f:if condition="{card.data.title} || {card.data.description} || {card.data.link}">
                <div class="card-content">
                  <f:if condition="{card.data.title}">
                    <f:render partial="Headline" arguments="{type: '{f:if(condition: data.header_layout, then: \'{data.header_layout + 1}\')}', headline: '{card.data.title}', class:'h4'}" />
                  </f:if>

                  <f:if condition="{card.data.description}">
                    <div class="card-rte">
                      {card.data.description -> f:format.html()}
                    </div>
                  </f:if>

                  <f:if condition="{card.data.link}">
                    <f:link.typolink class="primary-btn card-link" parameter="{card.data.link}" parts-as="link">
                      <span>{link.title}</span>
                    </f:link.typolink>
                  </f:if>
                </div>
              </f:if>
            </div>
          </div>
        </f:for>
      </div>
    </f:if>
  </skeleton:container>
</skeleton:wrapper>

</html>