<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.css identifier="footer" href="EXT:skeleton/Resources/Public/Css/footer.css" />

<skeleton:wrapper render="{data}" class="footer">
  <skeleton:container render="{data}">
    <div class="footer-wrapper">
      <div class="footer-copyright">
        <div class="footer-logo">
          <f:cObject typoscriptObjectPath="lib.logoSVG" data="{src: 'EXT:skeleton/Resources/Public/Images/logo.svg'}" />
        </div>

        <f:render partial="Rte" arguments="{_all}" />
      </div>

      <div class="footer-link-social-wrapper">
        <f:if condition="{navigation}">
          <div class="footer-link-wrapper">
            <f:for each="{navigation}" as="level1">
              <f:link.typolink class="footer-link" parameter="{level1.data.uid}">
                <span>{level1.title}</span>
              </f:link.typolink>
            </f:for>
          </div>
        </f:if>

        <div class="footer-social-links">
          <f:for each="{files}" as="file">
            <f:render partial="Picture" arguments="{_all}" />
          </f:for>
        </div>
      </div>
    </div>
  </skeleton:container>
</skeleton:wrapper>

</html>