@media screen and (min-width: 15em) {
  .frame-space-before-10, .frame-space-after-10 {
    margin-top: 0.55rem;
  }

  .frame-space-before-20, .frame-space-after-20 {
    margin-top: 1.11rem;
  }

  .frame-space-before-30, .frame-space-after-30 {
    margin-top: 1.66rem;
  }

  .frame-space-before-40, .frame-space-after-40 {
    margin-top: 2.22rem;
  }

  .frame-space-before-50, .frame-space-after-50 {
    margin-top: 2.77rem;
  }

  .frame-space-before-60, .frame-space-after-60 {
    margin-top: 3.33rem;
  }

  .frame-space-before-70, .frame-space-after-70 {
    margin-top: 3.88rem;
  }

  .frame-space-before-80, .frame-space-after-80 {
    margin-top: 4.44rem;
  }

  .frame-space-before-90, .frame-space-after-90 {
    margin-top: 5rem;
  }

  .frame-space-before-100, .frame-space-after-100 {
    margin-top: 5.55rem;
  }

  .frame-space-before-125, .frame-space-after-125 {
    margin-top: 6.94rem;
  }

  .frame-space-before-150, .frame-space-after-150 {
    margin-top: 8.33rem;
  }

  .frame-space-before-180, .frame-space-after-180 {
    margin-top: 10rem;
  }

  .frame-space-before-200, .frame-space-after-200 {
    margin-top: 11.11rem;
  }

  .frame-space-before-230, .frame-space-after-230 {
    margin-top: 12.77rem;
  }

  .frame-space-before-250, .frame-space-after-250 {
    margin-top: 13.88rem;
  }

  .frame-space-before-330, .frame-space-after-330 {
    margin-top: 18.33rem;
  }

  .frame-space-before-370, .frame-space-after-370 {
    margin-top: 20.55rem;
  }

  .frame-space-before-430, .frame-space-after-430 {
    margin-top: 23.88rem;
  }

  .frame-space-before-470, .frame-space-after-470 {
    margin-top: 26.11rem;
  }

  .frame-space-before-530, .frame-space-after-530 {
    margin-top: 29.44rem;
  }
}
@media screen and (min-width: 33.75em) {
  .frame-space-before-10, .frame-space-after-10 {
    margin-top: 0.55rem;
  }

  .frame-space-before-20, .frame-space-after-20 {
    margin-top: 1.11rem;
  }

  .frame-space-before-30, .frame-space-after-30 {
    margin-top: 1.66rem;
  }

  .frame-space-before-40, .frame-space-after-40 {
    margin-top: 2.22rem;
  }

  .frame-space-before-50, .frame-space-after-50 {
    margin-top: 2.77rem;
  }

  .frame-space-before-60, .frame-space-after-60 {
    margin-top: 3.33rem;
  }

  .frame-space-before-70, .frame-space-after-70 {
    margin-top: 3.88rem;
  }

  .frame-space-before-80, .frame-space-after-80 {
    margin-top: 4.44rem;
  }

  .frame-space-before-90, .frame-space-after-90 {
    margin-top: 5rem;
  }

  .frame-space-before-100, .frame-space-after-100 {
    margin-top: 5.55rem;
  }

  .frame-space-before-125, .frame-space-after-125 {
    margin-top: 6.94rem;
  }

  .frame-space-before-150, .frame-space-after-150 {
    margin-top: 8.33rem;
  }

  .frame-space-before-180, .frame-space-after-180 {
    margin-top: 10rem;
  }

  .frame-space-before-200, .frame-space-after-200 {
    margin-top: 11.11rem;
  }

  .frame-space-before-230, .frame-space-after-230 {
    margin-top: 12.77rem;
  }

  .frame-space-before-250, .frame-space-after-250 {
    margin-top: 13.88rem;
  }

  .frame-space-before-330, .frame-space-after-330 {
    margin-top: 18.33rem;
  }

  .frame-space-before-370, .frame-space-after-370 {
    margin-top: 20.55rem;
  }

  .frame-space-before-430, .frame-space-after-430 {
    margin-top: 23.88rem;
  }

  .frame-space-before-470, .frame-space-after-470 {
    margin-top: 26.11rem;
  }

  .frame-space-before-530, .frame-space-after-530 {
    margin-top: 29.44rem;
  }
}
@media screen and (min-width: 48em) {
  .frame-space-before-10, .frame-space-after-10 {
    margin-top: 0.55rem;
  }

  .frame-space-before-20, .frame-space-after-20 {
    margin-top: 1.11rem;
  }

  .frame-space-before-30, .frame-space-after-30 {
    margin-top: 1.66rem;
  }

  .frame-space-before-40, .frame-space-after-40 {
    margin-top: 2.22rem;
  }

  .frame-space-before-50, .frame-space-after-50 {
    margin-top: 2.77rem;
  }

  .frame-space-before-60, .frame-space-after-60 {
    margin-top: 3.33rem;
  }

  .frame-space-before-70, .frame-space-after-70 {
    margin-top: 3.88rem;
  }

  .frame-space-before-80, .frame-space-after-80 {
    margin-top: 4.44rem;
  }

  .frame-space-before-90, .frame-space-after-90 {
    margin-top: 5rem;
  }

  .frame-space-before-100, .frame-space-after-100 {
    margin-top: 5.55rem;
  }

  .frame-space-before-125, .frame-space-after-125 {
    margin-top: 6.94rem;
  }

  .frame-space-before-150, .frame-space-after-150 {
    margin-top: 8.33rem;
  }

  .frame-space-before-180, .frame-space-after-180 {
    margin-top: 10rem;
  }

  .frame-space-before-200, .frame-space-after-200 {
    margin-top: 11.11rem;
  }

  .frame-space-before-230, .frame-space-after-230 {
    margin-top: 12.77rem;
  }

  .frame-space-before-250, .frame-space-after-250 {
    margin-top: 13.88rem;
  }

  .frame-space-before-330, .frame-space-after-330 {
    margin-top: 18.33rem;
  }

  .frame-space-before-370, .frame-space-after-370 {
    margin-top: 20.55rem;
  }

  .frame-space-before-430, .frame-space-after-430 {
    margin-top: 23.88rem;
  }

  .frame-space-before-470, .frame-space-after-470 {
    margin-top: 26.11rem;
  }

  .frame-space-before-530, .frame-space-after-530 {
    margin-top: 29.44rem;
  }
}
@media screen and (min-width: 67.5em) {
  .frame-space-before-10, .frame-space-after-10 {
    margin-top: 0.55rem;
  }

  .frame-space-before-20, .frame-space-after-20 {
    margin-top: 1.11rem;
  }

  .frame-space-before-30, .frame-space-after-30 {
    margin-top: 1.66rem;
  }

  .frame-space-before-40, .frame-space-after-40 {
    margin-top: 2.22rem;
  }

  .frame-space-before-50, .frame-space-after-50 {
    margin-top: 2.77rem;
  }

  .frame-space-before-60, .frame-space-after-60 {
    margin-top: 3.33rem;
  }

  .frame-space-before-70, .frame-space-after-70 {
    margin-top: 3.88rem;
  }

  .frame-space-before-80, .frame-space-after-80 {
    margin-top: 4.44rem;
  }

  .frame-space-before-90, .frame-space-after-90 {
    margin-top: 5rem;
  }

  .frame-space-before-100, .frame-space-after-100 {
    margin-top: 5.55rem;
  }

  .frame-space-before-125, .frame-space-after-125 {
    margin-top: 6.94rem;
  }

  .frame-space-before-150, .frame-space-after-150 {
    margin-top: 8.33rem;
  }

  .frame-space-before-180, .frame-space-after-180 {
    margin-top: 10rem;
  }

  .frame-space-before-200, .frame-space-after-200 {
    margin-top: 11.11rem;
  }

  .frame-space-before-230, .frame-space-after-230 {
    margin-top: 12.77rem;
  }

  .frame-space-before-250, .frame-space-after-250 {
    margin-top: 13.88rem;
  }

  .frame-space-before-330, .frame-space-after-330 {
    margin-top: 18.33rem;
  }

  .frame-space-before-370, .frame-space-after-370 {
    margin-top: 20.55rem;
  }

  .frame-space-before-430, .frame-space-after-430 {
    margin-top: 23.88rem;
  }

  .frame-space-before-470, .frame-space-after-470 {
    margin-top: 26.11rem;
  }

  .frame-space-before-530, .frame-space-after-530 {
    margin-top: 29.44rem;
  }
}
@media screen and (min-width: 85.375em) {
  .frame-space-before-10, .frame-space-after-10 {
    margin-top: 0.55rem;
  }

  .frame-space-before-20, .frame-space-after-20 {
    margin-top: 1.11rem;
  }

  .frame-space-before-30, .frame-space-after-30 {
    margin-top: 1.66rem;
  }

  .frame-space-before-40, .frame-space-after-40 {
    margin-top: 2.22rem;
  }

  .frame-space-before-50, .frame-space-after-50 {
    margin-top: 2.77rem;
  }

  .frame-space-before-60, .frame-space-after-60 {
    margin-top: 3.33rem;
  }

  .frame-space-before-70, .frame-space-after-70 {
    margin-top: 3.88rem;
  }

  .frame-space-before-80, .frame-space-after-80 {
    margin-top: 4.44rem;
  }

  .frame-space-before-90, .frame-space-after-90 {
    margin-top: 5rem;
  }

  .frame-space-before-100, .frame-space-after-100 {
    margin-top: 5.55rem;
  }

  .frame-space-before-125, .frame-space-after-125 {
    margin-top: 6.94rem;
  }

  .frame-space-before-150, .frame-space-after-150 {
    margin-top: 8.33rem;
  }

  .frame-space-before-180, .frame-space-after-180 {
    margin-top: 10rem;
  }

  .frame-space-before-200, .frame-space-after-200 {
    margin-top: 11.11rem;
  }

  .frame-space-before-230, .frame-space-after-230 {
    margin-top: 12.77rem;
  }

  .frame-space-before-250, .frame-space-after-250 {
    margin-top: 13.88rem;
  }

  .frame-space-before-330, .frame-space-after-330 {
    margin-top: 18.33rem;
  }

  .frame-space-before-370, .frame-space-after-370 {
    margin-top: 20.55rem;
  }

  .frame-space-before-430, .frame-space-after-430 {
    margin-top: 23.88rem;
  }

  .frame-space-before-470, .frame-space-after-470 {
    margin-top: 26.11rem;
  }

  .frame-space-before-530, .frame-space-after-530 {
    margin-top: 29.44rem;
  }
}
@media screen and (min-width: 103.125em) {
  .frame-space-before-10, .frame-space-after-10 {
    margin-top: 0.55rem;
  }

  .frame-space-before-20, .frame-space-after-20 {
    margin-top: 1.11rem;
  }

  .frame-space-before-30, .frame-space-after-30 {
    margin-top: 1.66rem;
  }

  .frame-space-before-40, .frame-space-after-40 {
    margin-top: 2.22rem;
  }

  .frame-space-before-50, .frame-space-after-50 {
    margin-top: 2.77rem;
  }

  .frame-space-before-60, .frame-space-after-60 {
    margin-top: 3.33rem;
  }

  .frame-space-before-70, .frame-space-after-70 {
    margin-top: 3.88rem;
  }

  .frame-space-before-80, .frame-space-after-80 {
    margin-top: 4.44rem;
  }

  .frame-space-before-90, .frame-space-after-90 {
    margin-top: 5rem;
  }

  .frame-space-before-100, .frame-space-after-100 {
    margin-top: 5.55rem;
  }

  .frame-space-before-125, .frame-space-after-125 {
    margin-top: 6.94rem;
  }

  .frame-space-before-150, .frame-space-after-150 {
    margin-top: 8.33rem;
  }

  .frame-space-before-180, .frame-space-after-180 {
    margin-top: 10rem;
  }

  .frame-space-before-200, .frame-space-after-200 {
    margin-top: 11.11rem;
  }

  .frame-space-before-230, .frame-space-after-230 {
    margin-top: 12.77rem;
  }

  .frame-space-before-250, .frame-space-after-250 {
    margin-top: 13.88rem;
  }

  .frame-space-before-330, .frame-space-after-330 {
    margin-top: 18.33rem;
  }

  .frame-space-before-370, .frame-space-after-370 {
    margin-top: 20.55rem;
  }

  .frame-space-before-430, .frame-space-after-430 {
    margin-top: 23.88rem;
  }

  .frame-space-before-470, .frame-space-after-470 {
    margin-top: 26.11rem;
  }

  .frame-space-before-530, .frame-space-after-530 {
    margin-top: 29.44rem;
  }
}
@media screen and (min-width: 15em) {
  .frame-space-left-10, .frame-space-right-10 {
    margin-left: 0.55rem;
  }

  .frame-space-left-20, .frame-space-right-20 {
    margin-left: 1.11rem;
  }

  .frame-space-left-30, .frame-space-right-30 {
    margin-left: 1.66rem;
  }

  .frame-space-left-40, .frame-space-right-40 {
    margin-left: 2.22rem;
  }

  .frame-space-left-50, .frame-space-right-50 {
    margin-left: 2.77rem;
  }

  .frame-space-left-60, .frame-space-right-60 {
    margin-left: 3.33rem;
  }

  .frame-space-left-70, .frame-space-right-70 {
    margin-left: 3.88rem;
  }

  .frame-space-left-80, .frame-space-right-80 {
    margin-left: 4.44rem;
  }

  .frame-space-left-90, .frame-space-right-90 {
    margin-left: 5rem;
  }

  .frame-space-left-100, .frame-space-right-100 {
    margin-left: 5.55rem;
  }

  .frame-space-left-125, .frame-space-right-125 {
    margin-left: 6.94rem;
  }

  .frame-space-left-150, .frame-space-right-150 {
    margin-left: 8.33rem;
  }

  .frame-space-left-180, .frame-space-right-180 {
    margin-left: 10rem;
  }

  .frame-space-left-200, .frame-space-right-200 {
    margin-left: 11.11rem;
  }

  .frame-space-left-230, .frame-space-right-230 {
    margin-left: 12.77rem;
  }

  .frame-space-left-250, .frame-space-right-250 {
    margin-left: 13.88rem;
  }

  .frame-space-left-330, .frame-space-right-330 {
    margin-left: 18.33rem;
  }

  .frame-space-left-370, .frame-space-right-370 {
    margin-left: 20.55rem;
  }

  .frame-space-left-430, .frame-space-right-430 {
    margin-left: 23.88rem;
  }

  .frame-space-left-470, .frame-space-right-470 {
    margin-left: 26.11rem;
  }

  .frame-space-left-530, .frame-space-right-530 {
    margin-left: 29.44rem;
  }
}
@media screen and (min-width: 33.75em) {
  .frame-space-left-10, .frame-space-right-10 {
    margin-left: 0.55rem;
  }

  .frame-space-left-20, .frame-space-right-20 {
    margin-left: 1.11rem;
  }

  .frame-space-left-30, .frame-space-right-30 {
    margin-left: 1.66rem;
  }

  .frame-space-left-40, .frame-space-right-40 {
    margin-left: 2.22rem;
  }

  .frame-space-left-50, .frame-space-right-50 {
    margin-left: 2.77rem;
  }

  .frame-space-left-60, .frame-space-right-60 {
    margin-left: 3.33rem;
  }

  .frame-space-left-70, .frame-space-right-70 {
    margin-left: 3.88rem;
  }

  .frame-space-left-80, .frame-space-right-80 {
    margin-left: 4.44rem;
  }

  .frame-space-left-90, .frame-space-right-90 {
    margin-left: 5rem;
  }

  .frame-space-left-100, .frame-space-right-100 {
    margin-left: 5.55rem;
  }

  .frame-space-left-125, .frame-space-right-125 {
    margin-left: 6.94rem;
  }

  .frame-space-left-150, .frame-space-right-150 {
    margin-left: 8.33rem;
  }

  .frame-space-left-180, .frame-space-right-180 {
    margin-left: 10rem;
  }

  .frame-space-left-200, .frame-space-right-200 {
    margin-left: 11.11rem;
  }

  .frame-space-left-230, .frame-space-right-230 {
    margin-left: 12.77rem;
  }

  .frame-space-left-250, .frame-space-right-250 {
    margin-left: 13.88rem;
  }

  .frame-space-left-330, .frame-space-right-330 {
    margin-left: 18.33rem;
  }

  .frame-space-left-370, .frame-space-right-370 {
    margin-left: 20.55rem;
  }

  .frame-space-left-430, .frame-space-right-430 {
    margin-left: 23.88rem;
  }

  .frame-space-left-470, .frame-space-right-470 {
    margin-left: 26.11rem;
  }

  .frame-space-left-530, .frame-space-right-530 {
    margin-left: 29.44rem;
  }
}
@media screen and (min-width: 48em) {
  .frame-space-left-10, .frame-space-right-10 {
    margin-left: 0.55rem;
  }

  .frame-space-left-20, .frame-space-right-20 {
    margin-left: 1.11rem;
  }

  .frame-space-left-30, .frame-space-right-30 {
    margin-left: 1.66rem;
  }

  .frame-space-left-40, .frame-space-right-40 {
    margin-left: 2.22rem;
  }

  .frame-space-left-50, .frame-space-right-50 {
    margin-left: 2.77rem;
  }

  .frame-space-left-60, .frame-space-right-60 {
    margin-left: 3.33rem;
  }

  .frame-space-left-70, .frame-space-right-70 {
    margin-left: 3.88rem;
  }

  .frame-space-left-80, .frame-space-right-80 {
    margin-left: 4.44rem;
  }

  .frame-space-left-90, .frame-space-right-90 {
    margin-left: 5rem;
  }

  .frame-space-left-100, .frame-space-right-100 {
    margin-left: 5.55rem;
  }

  .frame-space-left-125, .frame-space-right-125 {
    margin-left: 6.94rem;
  }

  .frame-space-left-150, .frame-space-right-150 {
    margin-left: 8.33rem;
  }

  .frame-space-left-180, .frame-space-right-180 {
    margin-left: 10rem;
  }

  .frame-space-left-200, .frame-space-right-200 {
    margin-left: 11.11rem;
  }

  .frame-space-left-230, .frame-space-right-230 {
    margin-left: 12.77rem;
  }

  .frame-space-left-250, .frame-space-right-250 {
    margin-left: 13.88rem;
  }

  .frame-space-left-330, .frame-space-right-330 {
    margin-left: 18.33rem;
  }

  .frame-space-left-370, .frame-space-right-370 {
    margin-left: 20.55rem;
  }

  .frame-space-left-430, .frame-space-right-430 {
    margin-left: 23.88rem;
  }

  .frame-space-left-470, .frame-space-right-470 {
    margin-left: 26.11rem;
  }

  .frame-space-left-530, .frame-space-right-530 {
    margin-left: 29.44rem;
  }
}
@media screen and (min-width: 67.5em) {
  .frame-space-left-10, .frame-space-right-10 {
    margin-left: 0.55rem;
  }

  .frame-space-left-20, .frame-space-right-20 {
    margin-left: 1.11rem;
  }

  .frame-space-left-30, .frame-space-right-30 {
    margin-left: 1.66rem;
  }

  .frame-space-left-40, .frame-space-right-40 {
    margin-left: 2.22rem;
  }

  .frame-space-left-50, .frame-space-right-50 {
    margin-left: 2.77rem;
  }

  .frame-space-left-60, .frame-space-right-60 {
    margin-left: 3.33rem;
  }

  .frame-space-left-70, .frame-space-right-70 {
    margin-left: 3.88rem;
  }

  .frame-space-left-80, .frame-space-right-80 {
    margin-left: 4.44rem;
  }

  .frame-space-left-90, .frame-space-right-90 {
    margin-left: 5rem;
  }

  .frame-space-left-100, .frame-space-right-100 {
    margin-left: 5.55rem;
  }

  .frame-space-left-125, .frame-space-right-125 {
    margin-left: 6.94rem;
  }

  .frame-space-left-150, .frame-space-right-150 {
    margin-left: 8.33rem;
  }

  .frame-space-left-180, .frame-space-right-180 {
    margin-left: 10rem;
  }

  .frame-space-left-200, .frame-space-right-200 {
    margin-left: 11.11rem;
  }

  .frame-space-left-230, .frame-space-right-230 {
    margin-left: 12.77rem;
  }

  .frame-space-left-250, .frame-space-right-250 {
    margin-left: 13.88rem;
  }

  .frame-space-left-330, .frame-space-right-330 {
    margin-left: 18.33rem;
  }

  .frame-space-left-370, .frame-space-right-370 {
    margin-left: 20.55rem;
  }

  .frame-space-left-430, .frame-space-right-430 {
    margin-left: 23.88rem;
  }

  .frame-space-left-470, .frame-space-right-470 {
    margin-left: 26.11rem;
  }

  .frame-space-left-530, .frame-space-right-530 {
    margin-left: 29.44rem;
  }
}
@media screen and (min-width: 85.375em) {
  .frame-space-left-10, .frame-space-right-10 {
    margin-left: 0.55rem;
  }

  .frame-space-left-20, .frame-space-right-20 {
    margin-left: 1.11rem;
  }

  .frame-space-left-30, .frame-space-right-30 {
    margin-left: 1.66rem;
  }

  .frame-space-left-40, .frame-space-right-40 {
    margin-left: 2.22rem;
  }

  .frame-space-left-50, .frame-space-right-50 {
    margin-left: 2.77rem;
  }

  .frame-space-left-60, .frame-space-right-60 {
    margin-left: 3.33rem;
  }

  .frame-space-left-70, .frame-space-right-70 {
    margin-left: 3.88rem;
  }

  .frame-space-left-80, .frame-space-right-80 {
    margin-left: 4.44rem;
  }

  .frame-space-left-90, .frame-space-right-90 {
    margin-left: 5rem;
  }

  .frame-space-left-100, .frame-space-right-100 {
    margin-left: 5.55rem;
  }

  .frame-space-left-125, .frame-space-right-125 {
    margin-left: 6.94rem;
  }

  .frame-space-left-150, .frame-space-right-150 {
    margin-left: 8.33rem;
  }

  .frame-space-left-180, .frame-space-right-180 {
    margin-left: 10rem;
  }

  .frame-space-left-200, .frame-space-right-200 {
    margin-left: 11.11rem;
  }

  .frame-space-left-230, .frame-space-right-230 {
    margin-left: 12.77rem;
  }

  .frame-space-left-250, .frame-space-right-250 {
    margin-left: 13.88rem;
  }

  .frame-space-left-330, .frame-space-right-330 {
    margin-left: 18.33rem;
  }

  .frame-space-left-370, .frame-space-right-370 {
    margin-left: 20.55rem;
  }

  .frame-space-left-430, .frame-space-right-430 {
    margin-left: 23.88rem;
  }

  .frame-space-left-470, .frame-space-right-470 {
    margin-left: 26.11rem;
  }

  .frame-space-left-530, .frame-space-right-530 {
    margin-left: 29.44rem;
  }
}
@media screen and (min-width: 103.125em) {
  .frame-space-left-10, .frame-space-right-10 {
    margin-left: 0.55rem;
  }

  .frame-space-left-20, .frame-space-right-20 {
    margin-left: 1.11rem;
  }

  .frame-space-left-30, .frame-space-right-30 {
    margin-left: 1.66rem;
  }

  .frame-space-left-40, .frame-space-right-40 {
    margin-left: 2.22rem;
  }

  .frame-space-left-50, .frame-space-right-50 {
    margin-left: 2.77rem;
  }

  .frame-space-left-60, .frame-space-right-60 {
    margin-left: 3.33rem;
  }

  .frame-space-left-70, .frame-space-right-70 {
    margin-left: 3.88rem;
  }

  .frame-space-left-80, .frame-space-right-80 {
    margin-left: 4.44rem;
  }

  .frame-space-left-90, .frame-space-right-90 {
    margin-left: 5rem;
  }

  .frame-space-left-100, .frame-space-right-100 {
    margin-left: 5.55rem;
  }

  .frame-space-left-125, .frame-space-right-125 {
    margin-left: 6.94rem;
  }

  .frame-space-left-150, .frame-space-right-150 {
    margin-left: 8.33rem;
  }

  .frame-space-left-180, .frame-space-right-180 {
    margin-left: 10rem;
  }

  .frame-space-left-200, .frame-space-right-200 {
    margin-left: 11.11rem;
  }

  .frame-space-left-230, .frame-space-right-230 {
    margin-left: 12.77rem;
  }

  .frame-space-left-250, .frame-space-right-250 {
    margin-left: 13.88rem;
  }

  .frame-space-left-330, .frame-space-right-330 {
    margin-left: 18.33rem;
  }

  .frame-space-left-370, .frame-space-right-370 {
    margin-left: 20.55rem;
  }

  .frame-space-left-430, .frame-space-right-430 {
    margin-left: 23.88rem;
  }

  .frame-space-left-470, .frame-space-right-470 {
    margin-left: 26.11rem;
  }

  .frame-space-left-530, .frame-space-right-530 {
    margin-left: 29.44rem;
  }
}
