@media screen and (min-width: 15em) {
  .frame-space-before-10 {
    margin-top: 0.55rem;
  }

  .frame-space-after-10 {
    margin-bottom: 0.55rem;
  }

  .frame-space-inline-before-10 {
    padding-top: 0.55rem;
  }

  .frame-space-inline-after-10 {
    padding-bottom: 0.55rem;
  }

  .frame-space-before-20 {
    margin-top: 1.11rem;
  }

  .frame-space-after-20 {
    margin-bottom: 1.11rem;
  }

  .frame-space-inline-before-20 {
    padding-top: 1.11rem;
  }

  .frame-space-inline-after-20 {
    padding-bottom: 1.11rem;
  }

  .frame-space-before-30 {
    margin-top: 1.66rem;
  }

  .frame-space-after-30 {
    margin-bottom: 1.66rem;
  }

  .frame-space-inline-before-30 {
    padding-top: 1.66rem;
  }

  .frame-space-inline-after-30 {
    padding-bottom: 1.66rem;
  }

  .frame-space-before-40 {
    margin-top: 2.22rem;
  }

  .frame-space-after-40 {
    margin-bottom: 2.22rem;
  }

  .frame-space-inline-before-40 {
    padding-top: 2.22rem;
  }

  .frame-space-inline-after-40 {
    padding-bottom: 2.22rem;
  }

  .frame-space-before-50 {
    margin-top: 2.77rem;
  }

  .frame-space-after-50 {
    margin-bottom: 2.77rem;
  }

  .frame-space-inline-before-50 {
    padding-top: 2.77rem;
  }

  .frame-space-inline-after-50 {
    padding-bottom: 2.77rem;
  }

  .frame-space-before-60 {
    margin-top: 3.33rem;
  }

  .frame-space-after-60 {
    margin-bottom: 3.33rem;
  }

  .frame-space-inline-before-60 {
    padding-top: 3.33rem;
  }

  .frame-space-inline-after-60 {
    padding-bottom: 3.33rem;
  }

  .frame-space-before-70 {
    margin-top: 3.88rem;
  }

  .frame-space-after-70 {
    margin-bottom: 3.88rem;
  }

  .frame-space-inline-before-70 {
    padding-top: 3.88rem;
  }

  .frame-space-inline-after-70 {
    padding-bottom: 3.88rem;
  }

  .frame-space-before-80 {
    margin-top: 4.44rem;
  }

  .frame-space-after-80 {
    margin-bottom: 4.44rem;
  }

  .frame-space-inline-before-80 {
    padding-top: 4.44rem;
  }

  .frame-space-inline-after-80 {
    padding-bottom: 4.44rem;
  }

  .frame-space-before-90 {
    margin-top: 5rem;
  }

  .frame-space-after-90 {
    margin-bottom: 5rem;
  }

  .frame-space-inline-before-90 {
    padding-top: 5rem;
  }

  .frame-space-inline-after-90 {
    padding-bottom: 5rem;
  }

  .frame-space-before-100 {
    margin-top: 5.55rem;
  }

  .frame-space-after-100 {
    margin-bottom: 5.55rem;
  }

  .frame-space-inline-before-100 {
    padding-top: 5.55rem;
  }

  .frame-space-inline-after-100 {
    padding-bottom: 5.55rem;
  }

  .frame-space-before-125 {
    margin-top: 6.94rem;
  }

  .frame-space-after-125 {
    margin-bottom: 6.94rem;
  }

  .frame-space-inline-before-125 {
    padding-top: 6.94rem;
  }

  .frame-space-inline-after-125 {
    padding-bottom: 6.94rem;
  }

  .frame-space-before-150 {
    margin-top: 8.33rem;
  }

  .frame-space-after-150 {
    margin-bottom: 8.33rem;
  }

  .frame-space-inline-before-150 {
    padding-top: 8.33rem;
  }

  .frame-space-inline-after-150 {
    padding-bottom: 8.33rem;
  }

  .frame-space-before-180 {
    margin-top: 10rem;
  }

  .frame-space-after-180 {
    margin-bottom: 10rem;
  }

  .frame-space-inline-before-180 {
    padding-top: 10rem;
  }

  .frame-space-inline-after-180 {
    padding-bottom: 10rem;
  }

  .frame-space-before-200 {
    margin-top: 11.11rem;
  }

  .frame-space-after-200 {
    margin-bottom: 11.11rem;
  }

  .frame-space-inline-before-200 {
    padding-top: 11.11rem;
  }

  .frame-space-inline-after-200 {
    padding-bottom: 11.11rem;
  }

  .frame-space-before-230 {
    margin-top: 12.77rem;
  }

  .frame-space-after-230 {
    margin-bottom: 12.77rem;
  }

  .frame-space-inline-before-230 {
    padding-top: 12.77rem;
  }

  .frame-space-inline-after-230 {
    padding-bottom: 12.77rem;
  }

  .frame-space-before-250 {
    margin-top: 13.88rem;
  }

  .frame-space-after-250 {
    margin-bottom: 13.88rem;
  }

  .frame-space-inline-before-250 {
    padding-top: 13.88rem;
  }

  .frame-space-inline-after-250 {
    padding-bottom: 13.88rem;
  }

  .frame-space-before-330 {
    margin-top: 18.33rem;
  }

  .frame-space-after-330 {
    margin-bottom: 18.33rem;
  }

  .frame-space-inline-before-330 {
    padding-top: 18.33rem;
  }

  .frame-space-inline-after-330 {
    padding-bottom: 18.33rem;
  }

  .frame-space-before-370 {
    margin-top: 20.55rem;
  }

  .frame-space-after-370 {
    margin-bottom: 20.55rem;
  }

  .frame-space-inline-before-370 {
    padding-top: 20.55rem;
  }

  .frame-space-inline-after-370 {
    padding-bottom: 20.55rem;
  }

  .frame-space-before-430 {
    margin-top: 23.88rem;
  }

  .frame-space-after-430 {
    margin-bottom: 23.88rem;
  }

  .frame-space-inline-before-430 {
    padding-top: 23.88rem;
  }

  .frame-space-inline-after-430 {
    padding-bottom: 23.88rem;
  }

  .frame-space-before-470 {
    margin-top: 26.11rem;
  }

  .frame-space-after-470 {
    margin-bottom: 26.11rem;
  }

  .frame-space-inline-before-470 {
    padding-top: 26.11rem;
  }

  .frame-space-inline-after-470 {
    padding-bottom: 26.11rem;
  }

  .frame-space-before-530 {
    margin-top: 29.44rem;
  }

  .frame-space-after-530 {
    margin-bottom: 29.44rem;
  }

  .frame-space-inline-before-530 {
    padding-top: 29.44rem;
  }

  .frame-space-inline-after-530 {
    padding-bottom: 29.44rem;
  }
}
@media screen and (min-width: 33.75em) {
  .frame-space-before-10 {
    margin-top: 0.55rem;
  }

  .frame-space-after-10 {
    margin-bottom: 0.55rem;
  }

  .frame-space-inline-before-10 {
    padding-top: 0.55rem;
  }

  .frame-space-inline-after-10 {
    padding-bottom: 0.55rem;
  }

  .frame-space-before-20 {
    margin-top: 1.11rem;
  }

  .frame-space-after-20 {
    margin-bottom: 1.11rem;
  }

  .frame-space-inline-before-20 {
    padding-top: 1.11rem;
  }

  .frame-space-inline-after-20 {
    padding-bottom: 1.11rem;
  }

  .frame-space-before-30 {
    margin-top: 1.66rem;
  }

  .frame-space-after-30 {
    margin-bottom: 1.66rem;
  }

  .frame-space-inline-before-30 {
    padding-top: 1.66rem;
  }

  .frame-space-inline-after-30 {
    padding-bottom: 1.66rem;
  }

  .frame-space-before-40 {
    margin-top: 2.22rem;
  }

  .frame-space-after-40 {
    margin-bottom: 2.22rem;
  }

  .frame-space-inline-before-40 {
    padding-top: 2.22rem;
  }

  .frame-space-inline-after-40 {
    padding-bottom: 2.22rem;
  }

  .frame-space-before-50 {
    margin-top: 2.77rem;
  }

  .frame-space-after-50 {
    margin-bottom: 2.77rem;
  }

  .frame-space-inline-before-50 {
    padding-top: 2.77rem;
  }

  .frame-space-inline-after-50 {
    padding-bottom: 2.77rem;
  }

  .frame-space-before-60 {
    margin-top: 3.33rem;
  }

  .frame-space-after-60 {
    margin-bottom: 3.33rem;
  }

  .frame-space-inline-before-60 {
    padding-top: 3.33rem;
  }

  .frame-space-inline-after-60 {
    padding-bottom: 3.33rem;
  }

  .frame-space-before-70 {
    margin-top: 3.88rem;
  }

  .frame-space-after-70 {
    margin-bottom: 3.88rem;
  }

  .frame-space-inline-before-70 {
    padding-top: 3.88rem;
  }

  .frame-space-inline-after-70 {
    padding-bottom: 3.88rem;
  }

  .frame-space-before-80 {
    margin-top: 4.44rem;
  }

  .frame-space-after-80 {
    margin-bottom: 4.44rem;
  }

  .frame-space-inline-before-80 {
    padding-top: 4.44rem;
  }

  .frame-space-inline-after-80 {
    padding-bottom: 4.44rem;
  }

  .frame-space-before-90 {
    margin-top: 5rem;
  }

  .frame-space-after-90 {
    margin-bottom: 5rem;
  }

  .frame-space-inline-before-90 {
    padding-top: 5rem;
  }

  .frame-space-inline-after-90 {
    padding-bottom: 5rem;
  }

  .frame-space-before-100 {
    margin-top: 5.55rem;
  }

  .frame-space-after-100 {
    margin-bottom: 5.55rem;
  }

  .frame-space-inline-before-100 {
    padding-top: 5.55rem;
  }

  .frame-space-inline-after-100 {
    padding-bottom: 5.55rem;
  }

  .frame-space-before-125 {
    margin-top: 6.94rem;
  }

  .frame-space-after-125 {
    margin-bottom: 6.94rem;
  }

  .frame-space-inline-before-125 {
    padding-top: 6.94rem;
  }

  .frame-space-inline-after-125 {
    padding-bottom: 6.94rem;
  }

  .frame-space-before-150 {
    margin-top: 8.33rem;
  }

  .frame-space-after-150 {
    margin-bottom: 8.33rem;
  }

  .frame-space-inline-before-150 {
    padding-top: 8.33rem;
  }

  .frame-space-inline-after-150 {
    padding-bottom: 8.33rem;
  }

  .frame-space-before-180 {
    margin-top: 10rem;
  }

  .frame-space-after-180 {
    margin-bottom: 10rem;
  }

  .frame-space-inline-before-180 {
    padding-top: 10rem;
  }

  .frame-space-inline-after-180 {
    padding-bottom: 10rem;
  }

  .frame-space-before-200 {
    margin-top: 11.11rem;
  }

  .frame-space-after-200 {
    margin-bottom: 11.11rem;
  }

  .frame-space-inline-before-200 {
    padding-top: 11.11rem;
  }

  .frame-space-inline-after-200 {
    padding-bottom: 11.11rem;
  }

  .frame-space-before-230 {
    margin-top: 12.77rem;
  }

  .frame-space-after-230 {
    margin-bottom: 12.77rem;
  }

  .frame-space-inline-before-230 {
    padding-top: 12.77rem;
  }

  .frame-space-inline-after-230 {
    padding-bottom: 12.77rem;
  }

  .frame-space-before-250 {
    margin-top: 13.88rem;
  }

  .frame-space-after-250 {
    margin-bottom: 13.88rem;
  }

  .frame-space-inline-before-250 {
    padding-top: 13.88rem;
  }

  .frame-space-inline-after-250 {
    padding-bottom: 13.88rem;
  }

  .frame-space-before-330 {
    margin-top: 18.33rem;
  }

  .frame-space-after-330 {
    margin-bottom: 18.33rem;
  }

  .frame-space-inline-before-330 {
    padding-top: 18.33rem;
  }

  .frame-space-inline-after-330 {
    padding-bottom: 18.33rem;
  }

  .frame-space-before-370 {
    margin-top: 20.55rem;
  }

  .frame-space-after-370 {
    margin-bottom: 20.55rem;
  }

  .frame-space-inline-before-370 {
    padding-top: 20.55rem;
  }

  .frame-space-inline-after-370 {
    padding-bottom: 20.55rem;
  }

  .frame-space-before-430 {
    margin-top: 23.88rem;
  }

  .frame-space-after-430 {
    margin-bottom: 23.88rem;
  }

  .frame-space-inline-before-430 {
    padding-top: 23.88rem;
  }

  .frame-space-inline-after-430 {
    padding-bottom: 23.88rem;
  }

  .frame-space-before-470 {
    margin-top: 26.11rem;
  }

  .frame-space-after-470 {
    margin-bottom: 26.11rem;
  }

  .frame-space-inline-before-470 {
    padding-top: 26.11rem;
  }

  .frame-space-inline-after-470 {
    padding-bottom: 26.11rem;
  }

  .frame-space-before-530 {
    margin-top: 29.44rem;
  }

  .frame-space-after-530 {
    margin-bottom: 29.44rem;
  }

  .frame-space-inline-before-530 {
    padding-top: 29.44rem;
  }

  .frame-space-inline-after-530 {
    padding-bottom: 29.44rem;
  }
}
@media screen and (min-width: 48em) {
  .frame-space-before-10 {
    margin-top: 0.55rem;
  }

  .frame-space-after-10 {
    margin-bottom: 0.55rem;
  }

  .frame-space-inline-before-10 {
    padding-top: 0.55rem;
  }

  .frame-space-inline-after-10 {
    padding-bottom: 0.55rem;
  }

  .frame-space-before-20 {
    margin-top: 1.11rem;
  }

  .frame-space-after-20 {
    margin-bottom: 1.11rem;
  }

  .frame-space-inline-before-20 {
    padding-top: 1.11rem;
  }

  .frame-space-inline-after-20 {
    padding-bottom: 1.11rem;
  }

  .frame-space-before-30 {
    margin-top: 1.66rem;
  }

  .frame-space-after-30 {
    margin-bottom: 1.66rem;
  }

  .frame-space-inline-before-30 {
    padding-top: 1.66rem;
  }

  .frame-space-inline-after-30 {
    padding-bottom: 1.66rem;
  }

  .frame-space-before-40 {
    margin-top: 2.22rem;
  }

  .frame-space-after-40 {
    margin-bottom: 2.22rem;
  }

  .frame-space-inline-before-40 {
    padding-top: 2.22rem;
  }

  .frame-space-inline-after-40 {
    padding-bottom: 2.22rem;
  }

  .frame-space-before-50 {
    margin-top: 2.77rem;
  }

  .frame-space-after-50 {
    margin-bottom: 2.77rem;
  }

  .frame-space-inline-before-50 {
    padding-top: 2.77rem;
  }

  .frame-space-inline-after-50 {
    padding-bottom: 2.77rem;
  }

  .frame-space-before-60 {
    margin-top: 3.33rem;
  }

  .frame-space-after-60 {
    margin-bottom: 3.33rem;
  }

  .frame-space-inline-before-60 {
    padding-top: 3.33rem;
  }

  .frame-space-inline-after-60 {
    padding-bottom: 3.33rem;
  }

  .frame-space-before-70 {
    margin-top: 3.88rem;
  }

  .frame-space-after-70 {
    margin-bottom: 3.88rem;
  }

  .frame-space-inline-before-70 {
    padding-top: 3.88rem;
  }

  .frame-space-inline-after-70 {
    padding-bottom: 3.88rem;
  }

  .frame-space-before-80 {
    margin-top: 4.44rem;
  }

  .frame-space-after-80 {
    margin-bottom: 4.44rem;
  }

  .frame-space-inline-before-80 {
    padding-top: 4.44rem;
  }

  .frame-space-inline-after-80 {
    padding-bottom: 4.44rem;
  }

  .frame-space-before-90 {
    margin-top: 5rem;
  }

  .frame-space-after-90 {
    margin-bottom: 5rem;
  }

  .frame-space-inline-before-90 {
    padding-top: 5rem;
  }

  .frame-space-inline-after-90 {
    padding-bottom: 5rem;
  }

  .frame-space-before-100 {
    margin-top: 5.55rem;
  }

  .frame-space-after-100 {
    margin-bottom: 5.55rem;
  }

  .frame-space-inline-before-100 {
    padding-top: 5.55rem;
  }

  .frame-space-inline-after-100 {
    padding-bottom: 5.55rem;
  }

  .frame-space-before-125 {
    margin-top: 6.94rem;
  }

  .frame-space-after-125 {
    margin-bottom: 6.94rem;
  }

  .frame-space-inline-before-125 {
    padding-top: 6.94rem;
  }

  .frame-space-inline-after-125 {
    padding-bottom: 6.94rem;
  }

  .frame-space-before-150 {
    margin-top: 8.33rem;
  }

  .frame-space-after-150 {
    margin-bottom: 8.33rem;
  }

  .frame-space-inline-before-150 {
    padding-top: 8.33rem;
  }

  .frame-space-inline-after-150 {
    padding-bottom: 8.33rem;
  }

  .frame-space-before-180 {
    margin-top: 10rem;
  }

  .frame-space-after-180 {
    margin-bottom: 10rem;
  }

  .frame-space-inline-before-180 {
    padding-top: 10rem;
  }

  .frame-space-inline-after-180 {
    padding-bottom: 10rem;
  }

  .frame-space-before-200 {
    margin-top: 11.11rem;
  }

  .frame-space-after-200 {
    margin-bottom: 11.11rem;
  }

  .frame-space-inline-before-200 {
    padding-top: 11.11rem;
  }

  .frame-space-inline-after-200 {
    padding-bottom: 11.11rem;
  }

  .frame-space-before-230 {
    margin-top: 12.77rem;
  }

  .frame-space-after-230 {
    margin-bottom: 12.77rem;
  }

  .frame-space-inline-before-230 {
    padding-top: 12.77rem;
  }

  .frame-space-inline-after-230 {
    padding-bottom: 12.77rem;
  }

  .frame-space-before-250 {
    margin-top: 13.88rem;
  }

  .frame-space-after-250 {
    margin-bottom: 13.88rem;
  }

  .frame-space-inline-before-250 {
    padding-top: 13.88rem;
  }

  .frame-space-inline-after-250 {
    padding-bottom: 13.88rem;
  }

  .frame-space-before-330 {
    margin-top: 18.33rem;
  }

  .frame-space-after-330 {
    margin-bottom: 18.33rem;
  }

  .frame-space-inline-before-330 {
    padding-top: 18.33rem;
  }

  .frame-space-inline-after-330 {
    padding-bottom: 18.33rem;
  }

  .frame-space-before-370 {
    margin-top: 20.55rem;
  }

  .frame-space-after-370 {
    margin-bottom: 20.55rem;
  }

  .frame-space-inline-before-370 {
    padding-top: 20.55rem;
  }

  .frame-space-inline-after-370 {
    padding-bottom: 20.55rem;
  }

  .frame-space-before-430 {
    margin-top: 23.88rem;
  }

  .frame-space-after-430 {
    margin-bottom: 23.88rem;
  }

  .frame-space-inline-before-430 {
    padding-top: 23.88rem;
  }

  .frame-space-inline-after-430 {
    padding-bottom: 23.88rem;
  }

  .frame-space-before-470 {
    margin-top: 26.11rem;
  }

  .frame-space-after-470 {
    margin-bottom: 26.11rem;
  }

  .frame-space-inline-before-470 {
    padding-top: 26.11rem;
  }

  .frame-space-inline-after-470 {
    padding-bottom: 26.11rem;
  }

  .frame-space-before-530 {
    margin-top: 29.44rem;
  }

  .frame-space-after-530 {
    margin-bottom: 29.44rem;
  }

  .frame-space-inline-before-530 {
    padding-top: 29.44rem;
  }

  .frame-space-inline-after-530 {
    padding-bottom: 29.44rem;
  }
}
@media screen and (min-width: 67.5em) {
  .frame-space-before-10 {
    margin-top: 0.55rem;
  }

  .frame-space-after-10 {
    margin-bottom: 0.55rem;
  }

  .frame-space-inline-before-10 {
    padding-top: 0.55rem;
  }

  .frame-space-inline-after-10 {
    padding-bottom: 0.55rem;
  }

  .frame-space-before-20 {
    margin-top: 1.11rem;
  }

  .frame-space-after-20 {
    margin-bottom: 1.11rem;
  }

  .frame-space-inline-before-20 {
    padding-top: 1.11rem;
  }

  .frame-space-inline-after-20 {
    padding-bottom: 1.11rem;
  }

  .frame-space-before-30 {
    margin-top: 1.66rem;
  }

  .frame-space-after-30 {
    margin-bottom: 1.66rem;
  }

  .frame-space-inline-before-30 {
    padding-top: 1.66rem;
  }

  .frame-space-inline-after-30 {
    padding-bottom: 1.66rem;
  }

  .frame-space-before-40 {
    margin-top: 2.22rem;
  }

  .frame-space-after-40 {
    margin-bottom: 2.22rem;
  }

  .frame-space-inline-before-40 {
    padding-top: 2.22rem;
  }

  .frame-space-inline-after-40 {
    padding-bottom: 2.22rem;
  }

  .frame-space-before-50 {
    margin-top: 2.77rem;
  }

  .frame-space-after-50 {
    margin-bottom: 2.77rem;
  }

  .frame-space-inline-before-50 {
    padding-top: 2.77rem;
  }

  .frame-space-inline-after-50 {
    padding-bottom: 2.77rem;
  }

  .frame-space-before-60 {
    margin-top: 3.33rem;
  }

  .frame-space-after-60 {
    margin-bottom: 3.33rem;
  }

  .frame-space-inline-before-60 {
    padding-top: 3.33rem;
  }

  .frame-space-inline-after-60 {
    padding-bottom: 3.33rem;
  }

  .frame-space-before-70 {
    margin-top: 3.88rem;
  }

  .frame-space-after-70 {
    margin-bottom: 3.88rem;
  }

  .frame-space-inline-before-70 {
    padding-top: 3.88rem;
  }

  .frame-space-inline-after-70 {
    padding-bottom: 3.88rem;
  }

  .frame-space-before-80 {
    margin-top: 4.44rem;
  }

  .frame-space-after-80 {
    margin-bottom: 4.44rem;
  }

  .frame-space-inline-before-80 {
    padding-top: 4.44rem;
  }

  .frame-space-inline-after-80 {
    padding-bottom: 4.44rem;
  }

  .frame-space-before-90 {
    margin-top: 5rem;
  }

  .frame-space-after-90 {
    margin-bottom: 5rem;
  }

  .frame-space-inline-before-90 {
    padding-top: 5rem;
  }

  .frame-space-inline-after-90 {
    padding-bottom: 5rem;
  }

  .frame-space-before-100 {
    margin-top: 5.55rem;
  }

  .frame-space-after-100 {
    margin-bottom: 5.55rem;
  }

  .frame-space-inline-before-100 {
    padding-top: 5.55rem;
  }

  .frame-space-inline-after-100 {
    padding-bottom: 5.55rem;
  }

  .frame-space-before-125 {
    margin-top: 6.94rem;
  }

  .frame-space-after-125 {
    margin-bottom: 6.94rem;
  }

  .frame-space-inline-before-125 {
    padding-top: 6.94rem;
  }

  .frame-space-inline-after-125 {
    padding-bottom: 6.94rem;
  }

  .frame-space-before-150 {
    margin-top: 8.33rem;
  }

  .frame-space-after-150 {
    margin-bottom: 8.33rem;
  }

  .frame-space-inline-before-150 {
    padding-top: 8.33rem;
  }

  .frame-space-inline-after-150 {
    padding-bottom: 8.33rem;
  }

  .frame-space-before-180 {
    margin-top: 10rem;
  }

  .frame-space-after-180 {
    margin-bottom: 10rem;
  }

  .frame-space-inline-before-180 {
    padding-top: 10rem;
  }

  .frame-space-inline-after-180 {
    padding-bottom: 10rem;
  }

  .frame-space-before-200 {
    margin-top: 11.11rem;
  }

  .frame-space-after-200 {
    margin-bottom: 11.11rem;
  }

  .frame-space-inline-before-200 {
    padding-top: 11.11rem;
  }

  .frame-space-inline-after-200 {
    padding-bottom: 11.11rem;
  }

  .frame-space-before-230 {
    margin-top: 12.77rem;
  }

  .frame-space-after-230 {
    margin-bottom: 12.77rem;
  }

  .frame-space-inline-before-230 {
    padding-top: 12.77rem;
  }

  .frame-space-inline-after-230 {
    padding-bottom: 12.77rem;
  }

  .frame-space-before-250 {
    margin-top: 13.88rem;
  }

  .frame-space-after-250 {
    margin-bottom: 13.88rem;
  }

  .frame-space-inline-before-250 {
    padding-top: 13.88rem;
  }

  .frame-space-inline-after-250 {
    padding-bottom: 13.88rem;
  }

  .frame-space-before-330 {
    margin-top: 18.33rem;
  }

  .frame-space-after-330 {
    margin-bottom: 18.33rem;
  }

  .frame-space-inline-before-330 {
    padding-top: 18.33rem;
  }

  .frame-space-inline-after-330 {
    padding-bottom: 18.33rem;
  }

  .frame-space-before-370 {
    margin-top: 20.55rem;
  }

  .frame-space-after-370 {
    margin-bottom: 20.55rem;
  }

  .frame-space-inline-before-370 {
    padding-top: 20.55rem;
  }

  .frame-space-inline-after-370 {
    padding-bottom: 20.55rem;
  }

  .frame-space-before-430 {
    margin-top: 23.88rem;
  }

  .frame-space-after-430 {
    margin-bottom: 23.88rem;
  }

  .frame-space-inline-before-430 {
    padding-top: 23.88rem;
  }

  .frame-space-inline-after-430 {
    padding-bottom: 23.88rem;
  }

  .frame-space-before-470 {
    margin-top: 26.11rem;
  }

  .frame-space-after-470 {
    margin-bottom: 26.11rem;
  }

  .frame-space-inline-before-470 {
    padding-top: 26.11rem;
  }

  .frame-space-inline-after-470 {
    padding-bottom: 26.11rem;
  }

  .frame-space-before-530 {
    margin-top: 29.44rem;
  }

  .frame-space-after-530 {
    margin-bottom: 29.44rem;
  }

  .frame-space-inline-before-530 {
    padding-top: 29.44rem;
  }

  .frame-space-inline-after-530 {
    padding-bottom: 29.44rem;
  }
}
@media screen and (min-width: 85.375em) {
  .frame-space-before-10 {
    margin-top: 0.55rem;
  }

  .frame-space-after-10 {
    margin-bottom: 0.55rem;
  }

  .frame-space-inline-before-10 {
    padding-top: 0.55rem;
  }

  .frame-space-inline-after-10 {
    padding-bottom: 0.55rem;
  }

  .frame-space-before-20 {
    margin-top: 1.11rem;
  }

  .frame-space-after-20 {
    margin-bottom: 1.11rem;
  }

  .frame-space-inline-before-20 {
    padding-top: 1.11rem;
  }

  .frame-space-inline-after-20 {
    padding-bottom: 1.11rem;
  }

  .frame-space-before-30 {
    margin-top: 1.66rem;
  }

  .frame-space-after-30 {
    margin-bottom: 1.66rem;
  }

  .frame-space-inline-before-30 {
    padding-top: 1.66rem;
  }

  .frame-space-inline-after-30 {
    padding-bottom: 1.66rem;
  }

  .frame-space-before-40 {
    margin-top: 2.22rem;
  }

  .frame-space-after-40 {
    margin-bottom: 2.22rem;
  }

  .frame-space-inline-before-40 {
    padding-top: 2.22rem;
  }

  .frame-space-inline-after-40 {
    padding-bottom: 2.22rem;
  }

  .frame-space-before-50 {
    margin-top: 2.77rem;
  }

  .frame-space-after-50 {
    margin-bottom: 2.77rem;
  }

  .frame-space-inline-before-50 {
    padding-top: 2.77rem;
  }

  .frame-space-inline-after-50 {
    padding-bottom: 2.77rem;
  }

  .frame-space-before-60 {
    margin-top: 3.33rem;
  }

  .frame-space-after-60 {
    margin-bottom: 3.33rem;
  }

  .frame-space-inline-before-60 {
    padding-top: 3.33rem;
  }

  .frame-space-inline-after-60 {
    padding-bottom: 3.33rem;
  }

  .frame-space-before-70 {
    margin-top: 3.88rem;
  }

  .frame-space-after-70 {
    margin-bottom: 3.88rem;
  }

  .frame-space-inline-before-70 {
    padding-top: 3.88rem;
  }

  .frame-space-inline-after-70 {
    padding-bottom: 3.88rem;
  }

  .frame-space-before-80 {
    margin-top: 4.44rem;
  }

  .frame-space-after-80 {
    margin-bottom: 4.44rem;
  }

  .frame-space-inline-before-80 {
    padding-top: 4.44rem;
  }

  .frame-space-inline-after-80 {
    padding-bottom: 4.44rem;
  }

  .frame-space-before-90 {
    margin-top: 5rem;
  }

  .frame-space-after-90 {
    margin-bottom: 5rem;
  }

  .frame-space-inline-before-90 {
    padding-top: 5rem;
  }

  .frame-space-inline-after-90 {
    padding-bottom: 5rem;
  }

  .frame-space-before-100 {
    margin-top: 5.55rem;
  }

  .frame-space-after-100 {
    margin-bottom: 5.55rem;
  }

  .frame-space-inline-before-100 {
    padding-top: 5.55rem;
  }

  .frame-space-inline-after-100 {
    padding-bottom: 5.55rem;
  }

  .frame-space-before-125 {
    margin-top: 6.94rem;
  }

  .frame-space-after-125 {
    margin-bottom: 6.94rem;
  }

  .frame-space-inline-before-125 {
    padding-top: 6.94rem;
  }

  .frame-space-inline-after-125 {
    padding-bottom: 6.94rem;
  }

  .frame-space-before-150 {
    margin-top: 8.33rem;
  }

  .frame-space-after-150 {
    margin-bottom: 8.33rem;
  }

  .frame-space-inline-before-150 {
    padding-top: 8.33rem;
  }

  .frame-space-inline-after-150 {
    padding-bottom: 8.33rem;
  }

  .frame-space-before-180 {
    margin-top: 10rem;
  }

  .frame-space-after-180 {
    margin-bottom: 10rem;
  }

  .frame-space-inline-before-180 {
    padding-top: 10rem;
  }

  .frame-space-inline-after-180 {
    padding-bottom: 10rem;
  }

  .frame-space-before-200 {
    margin-top: 11.11rem;
  }

  .frame-space-after-200 {
    margin-bottom: 11.11rem;
  }

  .frame-space-inline-before-200 {
    padding-top: 11.11rem;
  }

  .frame-space-inline-after-200 {
    padding-bottom: 11.11rem;
  }

  .frame-space-before-230 {
    margin-top: 12.77rem;
  }

  .frame-space-after-230 {
    margin-bottom: 12.77rem;
  }

  .frame-space-inline-before-230 {
    padding-top: 12.77rem;
  }

  .frame-space-inline-after-230 {
    padding-bottom: 12.77rem;
  }

  .frame-space-before-250 {
    margin-top: 13.88rem;
  }

  .frame-space-after-250 {
    margin-bottom: 13.88rem;
  }

  .frame-space-inline-before-250 {
    padding-top: 13.88rem;
  }

  .frame-space-inline-after-250 {
    padding-bottom: 13.88rem;
  }

  .frame-space-before-330 {
    margin-top: 18.33rem;
  }

  .frame-space-after-330 {
    margin-bottom: 18.33rem;
  }

  .frame-space-inline-before-330 {
    padding-top: 18.33rem;
  }

  .frame-space-inline-after-330 {
    padding-bottom: 18.33rem;
  }

  .frame-space-before-370 {
    margin-top: 20.55rem;
  }

  .frame-space-after-370 {
    margin-bottom: 20.55rem;
  }

  .frame-space-inline-before-370 {
    padding-top: 20.55rem;
  }

  .frame-space-inline-after-370 {
    padding-bottom: 20.55rem;
  }

  .frame-space-before-430 {
    margin-top: 23.88rem;
  }

  .frame-space-after-430 {
    margin-bottom: 23.88rem;
  }

  .frame-space-inline-before-430 {
    padding-top: 23.88rem;
  }

  .frame-space-inline-after-430 {
    padding-bottom: 23.88rem;
  }

  .frame-space-before-470 {
    margin-top: 26.11rem;
  }

  .frame-space-after-470 {
    margin-bottom: 26.11rem;
  }

  .frame-space-inline-before-470 {
    padding-top: 26.11rem;
  }

  .frame-space-inline-after-470 {
    padding-bottom: 26.11rem;
  }

  .frame-space-before-530 {
    margin-top: 29.44rem;
  }

  .frame-space-after-530 {
    margin-bottom: 29.44rem;
  }

  .frame-space-inline-before-530 {
    padding-top: 29.44rem;
  }

  .frame-space-inline-after-530 {
    padding-bottom: 29.44rem;
  }
}
@media screen and (min-width: 103.125em) {
  .frame-space-before-10 {
    margin-top: 0.55rem;
  }

  .frame-space-after-10 {
    margin-bottom: 0.55rem;
  }

  .frame-space-inline-before-10 {
    padding-top: 0.55rem;
  }

  .frame-space-inline-after-10 {
    padding-bottom: 0.55rem;
  }

  .frame-space-before-20 {
    margin-top: 1.11rem;
  }

  .frame-space-after-20 {
    margin-bottom: 1.11rem;
  }

  .frame-space-inline-before-20 {
    padding-top: 1.11rem;
  }

  .frame-space-inline-after-20 {
    padding-bottom: 1.11rem;
  }

  .frame-space-before-30 {
    margin-top: 1.66rem;
  }

  .frame-space-after-30 {
    margin-bottom: 1.66rem;
  }

  .frame-space-inline-before-30 {
    padding-top: 1.66rem;
  }

  .frame-space-inline-after-30 {
    padding-bottom: 1.66rem;
  }

  .frame-space-before-40 {
    margin-top: 2.22rem;
  }

  .frame-space-after-40 {
    margin-bottom: 2.22rem;
  }

  .frame-space-inline-before-40 {
    padding-top: 2.22rem;
  }

  .frame-space-inline-after-40 {
    padding-bottom: 2.22rem;
  }

  .frame-space-before-50 {
    margin-top: 2.77rem;
  }

  .frame-space-after-50 {
    margin-bottom: 2.77rem;
  }

  .frame-space-inline-before-50 {
    padding-top: 2.77rem;
  }

  .frame-space-inline-after-50 {
    padding-bottom: 2.77rem;
  }

  .frame-space-before-60 {
    margin-top: 3.33rem;
  }

  .frame-space-after-60 {
    margin-bottom: 3.33rem;
  }

  .frame-space-inline-before-60 {
    padding-top: 3.33rem;
  }

  .frame-space-inline-after-60 {
    padding-bottom: 3.33rem;
  }

  .frame-space-before-70 {
    margin-top: 3.88rem;
  }

  .frame-space-after-70 {
    margin-bottom: 3.88rem;
  }

  .frame-space-inline-before-70 {
    padding-top: 3.88rem;
  }

  .frame-space-inline-after-70 {
    padding-bottom: 3.88rem;
  }

  .frame-space-before-80 {
    margin-top: 4.44rem;
  }

  .frame-space-after-80 {
    margin-bottom: 4.44rem;
  }

  .frame-space-inline-before-80 {
    padding-top: 4.44rem;
  }

  .frame-space-inline-after-80 {
    padding-bottom: 4.44rem;
  }

  .frame-space-before-90 {
    margin-top: 5rem;
  }

  .frame-space-after-90 {
    margin-bottom: 5rem;
  }

  .frame-space-inline-before-90 {
    padding-top: 5rem;
  }

  .frame-space-inline-after-90 {
    padding-bottom: 5rem;
  }

  .frame-space-before-100 {
    margin-top: 5.55rem;
  }

  .frame-space-after-100 {
    margin-bottom: 5.55rem;
  }

  .frame-space-inline-before-100 {
    padding-top: 5.55rem;
  }

  .frame-space-inline-after-100 {
    padding-bottom: 5.55rem;
  }

  .frame-space-before-125 {
    margin-top: 6.94rem;
  }

  .frame-space-after-125 {
    margin-bottom: 6.94rem;
  }

  .frame-space-inline-before-125 {
    padding-top: 6.94rem;
  }

  .frame-space-inline-after-125 {
    padding-bottom: 6.94rem;
  }

  .frame-space-before-150 {
    margin-top: 8.33rem;
  }

  .frame-space-after-150 {
    margin-bottom: 8.33rem;
  }

  .frame-space-inline-before-150 {
    padding-top: 8.33rem;
  }

  .frame-space-inline-after-150 {
    padding-bottom: 8.33rem;
  }

  .frame-space-before-180 {
    margin-top: 10rem;
  }

  .frame-space-after-180 {
    margin-bottom: 10rem;
  }

  .frame-space-inline-before-180 {
    padding-top: 10rem;
  }

  .frame-space-inline-after-180 {
    padding-bottom: 10rem;
  }

  .frame-space-before-200 {
    margin-top: 11.11rem;
  }

  .frame-space-after-200 {
    margin-bottom: 11.11rem;
  }

  .frame-space-inline-before-200 {
    padding-top: 11.11rem;
  }

  .frame-space-inline-after-200 {
    padding-bottom: 11.11rem;
  }

  .frame-space-before-230 {
    margin-top: 12.77rem;
  }

  .frame-space-after-230 {
    margin-bottom: 12.77rem;
  }

  .frame-space-inline-before-230 {
    padding-top: 12.77rem;
  }

  .frame-space-inline-after-230 {
    padding-bottom: 12.77rem;
  }

  .frame-space-before-250 {
    margin-top: 13.88rem;
  }

  .frame-space-after-250 {
    margin-bottom: 13.88rem;
  }

  .frame-space-inline-before-250 {
    padding-top: 13.88rem;
  }

  .frame-space-inline-after-250 {
    padding-bottom: 13.88rem;
  }

  .frame-space-before-330 {
    margin-top: 18.33rem;
  }

  .frame-space-after-330 {
    margin-bottom: 18.33rem;
  }

  .frame-space-inline-before-330 {
    padding-top: 18.33rem;
  }

  .frame-space-inline-after-330 {
    padding-bottom: 18.33rem;
  }

  .frame-space-before-370 {
    margin-top: 20.55rem;
  }

  .frame-space-after-370 {
    margin-bottom: 20.55rem;
  }

  .frame-space-inline-before-370 {
    padding-top: 20.55rem;
  }

  .frame-space-inline-after-370 {
    padding-bottom: 20.55rem;
  }

  .frame-space-before-430 {
    margin-top: 23.88rem;
  }

  .frame-space-after-430 {
    margin-bottom: 23.88rem;
  }

  .frame-space-inline-before-430 {
    padding-top: 23.88rem;
  }

  .frame-space-inline-after-430 {
    padding-bottom: 23.88rem;
  }

  .frame-space-before-470 {
    margin-top: 26.11rem;
  }

  .frame-space-after-470 {
    margin-bottom: 26.11rem;
  }

  .frame-space-inline-before-470 {
    padding-top: 26.11rem;
  }

  .frame-space-inline-after-470 {
    padding-bottom: 26.11rem;
  }

  .frame-space-before-530 {
    margin-top: 29.44rem;
  }

  .frame-space-after-530 {
    margin-bottom: 29.44rem;
  }

  .frame-space-inline-before-530 {
    padding-top: 29.44rem;
  }

  .frame-space-inline-after-530 {
    padding-bottom: 29.44rem;
  }
}
