@font-face {
  font-family: Inter;
  src: url("../Fonts/Inter/Inter-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 25% 150%;
  font-display: swap;
}
.font-size-12 {
  font-size: 0.75rem;
}

.font-size-14 {
  font-size: 0.875rem;
}

.font-size-18 {
  font-size: 1.125rem;
}

.font-size-20 {
  font-size: 1.25rem;
}

.w-400 {
  display: block;
  width: 100%;
  max-width: 25rem;
}

.w-600 {
  display: block;
  width: 100%;
  max-width: 37.5rem;
}

.w-800 {
  display: block;
  width: 100%;
  max-width: 50rem;
}

.yellow-marker {
  padding: 0 0.125rem;
  color: var(--black);
  background-color: var(--yellow);
}

.yellow-marker-half {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0 0.125rem;
  color: var(--black);
}
.yellow-marker-half::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--yellow);
  z-index: -1;
}

:root {
  /* Anchor Scroll Padding */
  --scroll-pt: 4.125rem;
  /* Colors */
  --black: #000;
  --white: #fff;
  --lightgrey: #eee;
  --yellow: #ffff00;
  --glass-light: rgba(234, 233, 227, 0.1);
  --glass-dark: rgba(0, 0, 0, 0.65);
  --gradient: linear-gradient(to right, #f15757, #3b82f6);
  /* Navigation Container */
  --max-width-nav: 102.5rem;
  --max-mx-nav: calc((100% - var(--max-width-nav)) / 2);
  --min-mx-nav: 1.375rem;
  --max-x-nav: max(var(--min-mx-nav), var(--max-mx-nav));
  /* Container */
  --max-width: 86.25rem;
  --max-mx: calc((100% - var(--max-width)) / 2);
  --min-mx: 1.5rem;
  --max-x: max(var(--min-mx), var(--max-mx));
  /* Container-XL */
  --max-width-xl: 96rem;
  --max-mx-xl: calc((100% - var(--max-width-xl)) / 2);
  --min-mx-xl: 0.5rem;
  --max-x-xl: max(var(--min-mx-xl), var(--max-mx-xl));
}
@media screen and (min-width: 48em) {
  :root {
    --min-mx-nav: 2.5rem;
    --min-mx: 2.5rem;
    --min-mx-xl: 1.5rem;
  }
}

html {
  font-family: Inter;
  scroll-behavior: smooth;
}
@media (min-width: 80em) {
  html {
    scroll-padding-top: var(--scroll-pt);
  }
}
@media screen and (min-width: 1921px) {
  html {
    font-size: calc(1vw - 1.2px);
  }
}

body {
  overflow-x: hidden;
}

header.navigation {
  position: unset;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-bottom: 0.0625rem solid var(--lightgrey);
  padding: 0.75rem var(--max-x-nav);
  z-index: 100;
}
@media (min-width: 80em) {
  header.navigation {
    position: sticky;
  }
}
header.navigation .navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
}
header.navigation .navigation-wrapper .navigation-brand a svg,
header.navigation .navigation-wrapper .navigation-brand a img {
  width: auto;
  max-height: 1.75rem;
}
@media (min-width: 80em) {
  header.navigation .navigation-wrapper .navigation-brand a svg,
  header.navigation .navigation-wrapper .navigation-brand a img {
    max-height: unset;
  }
}
header.navigation .navigation-wrapper .navigation-list {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  z-index: 100;
}
@media not (min-width: 80em) {
  header.navigation .navigation-wrapper .navigation-list {
    background-color: var(--white);
    border-top: 0.0625rem solid var(--lightgrey);
    padding: 0.375rem var(--max-x-nav) 1.25rem;
  }
}
@media (min-width: 80em) {
  header.navigation .navigation-wrapper .navigation-list {
    position: initial;
    justify-content: flex-end;
  }
}
header.navigation .navigation-wrapper .navigation-list .level1-menu {
  display: flex;
  justify-content: space-around;
  column-gap: 1.25rem;
  width: 100%;
}
@media (min-width: 80em) {
  header.navigation .navigation-wrapper .navigation-list .level1-menu {
    justify-content: flex-end;
    align-items: center;
    column-gap: 2.5rem;
  }
}
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu {
  text-align: center;
}
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-link svg,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-link img,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-more svg,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-more img,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-more-btn svg,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-more-btn img,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-link svg,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-link img,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more svg,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more img,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-btn svg,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-btn img {
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 80em) {
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-link svg,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-link img,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-more svg,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-more img,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-more-btn svg,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1 .level1-more-btn img,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-link svg,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-link img,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more svg,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more img,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-btn svg,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-btn img {
    display: none;
  }
}
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu {
  contain: layout;
}
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-wrapper {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}
@media not (min-width: 80em) {
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-wrapper {
    position: fixed;
    bottom: 3.5rem;
    right: -1rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.75rem;
    background: var(--white);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--lightgrey);
    width: max-content;
  }
}
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-wrapper .level1-more svg,
header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-wrapper .level1-more img {
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 80em) {
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-wrapper .level1-more svg,
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-wrapper .level1-more img {
    display: none;
  }
}
@media not (min-width: 80em) {
  header.navigation .navigation-wrapper .navigation-list .level1-menu .level1-more-menu .level1-more-open {
    display: flex;
  }
}

main.content {
  min-height: 100vh;
}

footer {
  color: var(--lightgrey);
  background-color: #222;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.15;
  margin: 0 0 1rem;
}

h1,
.h1 {
  font-size: 2.125rem;
  font-weight: 500;
}
@media (min-width: 64em) {
  h1,
  .h1 {
    font-size: 3.75rem;
  }
}

h2,
.h2 {
  font-size: 1.875rem;
  font-weight: 500;
}
@media (min-width: 64em) {
  h2,
  .h2 {
    font-size: 2.625rem;
  }
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (min-width: 64em) {
  h3,
  .h3 {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

h5,
.h5 {
  font-size: 1.125rem;
  font-weight: 400;
}

h6,
.h6 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  margin: 0 0 1rem;
}

p:last-of-type {
  margin: 0;
}

figure {
  position: relative;
}
figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--white);
  background-color: var(--glass-dark);
}

img {
  width: initial;
}

@media (min-width: 80em) {
  .desktop-btn {
    position: relative;
    color: var(--black);
    background: transparent;
    border-radius: 0.25rem;
    border: 0;
    overflow: hidden;
    transition: color 0.3s;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    z-index: 2;
  }
  .desktop-btn::before {
    content: "";
    position: absolute;
    top: -300%;
    left: -25%;
    right: -25%;
    bottom: -300%;
    background: var(--gradient);
    border-radius: 0.25rem;
    z-index: -2;
  }
  .desktop-btn::after {
    content: "";
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    right: 0.125rem;
    bottom: 0.125rem;
    background: var(--white);
    border-radius: 0.125rem;
    transition: background-color 0.3s;
    z-index: -1;
  }
  .desktop-btn:hover {
    color: var(--white);
  }
  .desktop-btn:hover::before {
    animation: gradient-anim 5s infinite;
  }
  .desktop-btn:hover::after {
    background: transparent;
  }
}
.primary-btn {
  position: relative;
  color: var(--black);
  background: transparent;
  border-radius: 0.25rem;
  border: 0;
  overflow: hidden;
  transition: color 0.3s;
  font-size: 0.875rem;
  padding: 0.75rem 1.25rem;
  z-index: 2;
}
.primary-btn::before {
  content: "";
  position: absolute;
  top: -500%;
  left: -25%;
  right: -25%;
  bottom: -500%;
  background: var(--gradient);
  border-radius: 0.25rem;
  z-index: -2;
}
.primary-btn::after {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  right: 0.125rem;
  bottom: 0.125rem;
  background: var(--white);
  border-radius: 0.125rem;
  transition: background-color 0.3s;
  z-index: -1;
}
.primary-btn:hover {
  color: var(--white);
}
.primary-btn:hover::before {
  animation: gradient-anim 5s infinite;
}
.primary-btn:hover::after {
  background: transparent;
}

@keyframes gradient-anim {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
time {
  display: block;
  margin: 0 0 1rem;
  font-size: 0.75rem;
}

.header-headings h1, .header-headings h2, .header-headings h3, .header-headings h4, .header-headings h5, .header-headings h6 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--gradient);
  width: fit-content;
}

.rte-left {
  display: flex;
  justify-content: flex-start;
}

.rte-center {
  display: flex;
  justify-content: center;
}

.rte-right {
  display: flex;
  justify-content: flex-end;
}

.headline-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headline-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.blocked-media {
  position: relative;
  overflow: hidden;
}
.blocked-media::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  background: url("../Icons/play.svg") center center no-repeat;
  background-size: 100%;
  cursor: pointer;
  z-index: 5;
}
@media (min-width: 48em) {
  .blocked-media::before {
    width: 4rem;
    height: 4rem;
  }
}
