nav.desktop {
  display: none;
}
@media screen and (min-width: 85.375em) {
  nav.desktop {
    display: block;
  }
}
nav.desktop .level1-menu {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 1.38rem 0 0;
}
nav.desktop .level1-menu .desktop-level1 {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 1.38rem;
  list-style: none;
  padding-bottom: 1.38rem;
}
nav.desktop .level1-menu .desktop-level1:hover .level2-menu {
  display: block;
}
nav.desktop .level1-menu .desktop-level1 .level2-menu {
  display: none;
  position: absolute;
  top: 2.38rem;
  right: 0;
  padding: 0;
  width: 12rem;
  background-color: var(--white);
  border-radius: 0.27rem;
  box-shadow: 0 0 1.38rem rgba(0, 0, 0, 0.1);
}
nav.desktop .level1-menu .desktop-level1 .level2-menu .desktop-level2 {
  list-style: none;
  padding: 0.88rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav.desktop .level1-menu .desktop-level1 .level2-menu .desktop-level2:last-child {
  border-bottom: 0;
}
nav.desktop .level1-menu .desktop-level1:first-child {
  margin-left: 0;
}
nav.desktop .level1-menu .desktop-level1:last-child {
  margin-right: 0;
}
nav.desktop .level1-menu .children {
  list-style: initial;
  color: var(--link);
}
