.scroll-top {
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  display: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 5;
}
@media (min-width: 48em) {
  .scroll-top {
    right: 1.5rem;
  }
}
@media (min-width: 80em) {
  .scroll-top {
    right: 2.5rem;
  }
}
.scroll-top:hover svg {
  fill: var(--white);
}

@media (min-width: 80em) {
  .scroll-top-show {
    display: initial;
  }
}
