.textpic .textpic-wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 1.25rem;
  row-gap: 1.5rem;
}
.textpic .textpic-wrapper::after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .textpic .textpic-wrapper {
    row-gap: 2rem;
  }
}
@media (min-width: 80em) {
  .textpic .textpic-wrapper {
    row-gap: 2.5rem;
  }
}
.textpic .textpic-wrapper .textpic-images {
  display: grid;
  gap: 0.625rem;
}
.textpic .textpic-wrapper .textpic-images img {
  width: initial;
  height: initial;
  border-radius: 0.5rem;
}
.textpic .textpic-above-center .textpic-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textpic .textpic-above-center .textpic-images a {
  width: 100%;
}
@media (min-width: 48em) {
  .textpic .textpic-above-center .textpic-images a {
    width: 50%;
  }
}
.textpic .textpic-above-center .textpic-images picture {
  display: flex;
}
.textpic .textpic-above-center .textpic-images img,
.textpic .textpic-above-center .textpic-images svg {
  width: 100%;
  height: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 80em) {
  .textpic .textpic-above-center .textpic-images img,
  .textpic .textpic-above-center .textpic-images svg {
    max-height: 25rem;
  }
}
.textpic .textpic-above-right .textpic-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.textpic .textpic-above-right .textpic-images a {
  width: 100%;
}
@media (min-width: 48em) {
  .textpic .textpic-above-right .textpic-images a {
    width: 50%;
  }
}
.textpic .textpic-above-right .textpic-images picture {
  display: flex;
}
.textpic .textpic-above-right .textpic-images img,
.textpic .textpic-above-right .textpic-images svg {
  width: 100%;
  height: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 80em) {
  .textpic .textpic-above-right .textpic-images img,
  .textpic .textpic-above-right .textpic-images svg {
    max-height: 25rem;
  }
}
.textpic .textpic-above-left .textpic-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textpic .textpic-above-left .textpic-images a {
  width: 100%;
}
@media (min-width: 48em) {
  .textpic .textpic-above-left .textpic-images a {
    width: 50%;
  }
}
.textpic .textpic-above-left .textpic-images picture {
  display: flex;
}
.textpic .textpic-above-left .textpic-images img,
.textpic .textpic-above-left .textpic-images svg {
  width: 100%;
  height: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 80em) {
  .textpic .textpic-above-left .textpic-images img,
  .textpic .textpic-above-left .textpic-images svg {
    max-height: 25rem;
  }
}
.textpic .textpic-below-center .textpic-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textpic .textpic-below-center .textpic-images a {
  width: 100%;
}
@media (min-width: 48em) {
  .textpic .textpic-below-center .textpic-images a {
    width: 50%;
  }
}
.textpic .textpic-below-center .textpic-images picture {
  display: flex;
}
.textpic .textpic-below-center .textpic-images img,
.textpic .textpic-below-center .textpic-images svg {
  width: 100%;
  height: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 80em) {
  .textpic .textpic-below-center .textpic-images img,
  .textpic .textpic-below-center .textpic-images svg {
    width: initial;
    height: initial;
  }
}
@media (min-width: 80em) {
  .textpic .textpic-below-center .textpic-images img,
  .textpic .textpic-below-center .textpic-images svg {
    max-height: 25rem;
  }
}
.textpic .textpic-below-right .textpic-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.textpic .textpic-below-right .textpic-images a {
  width: 100%;
}
@media (min-width: 48em) {
  .textpic .textpic-below-right .textpic-images a {
    width: 50%;
  }
}
.textpic .textpic-below-right .textpic-images picture {
  display: flex;
}
.textpic .textpic-below-right .textpic-images img,
.textpic .textpic-below-right .textpic-images svg {
  width: 100%;
  height: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 80em) {
  .textpic .textpic-below-right .textpic-images img,
  .textpic .textpic-below-right .textpic-images svg {
    max-height: 25rem;
  }
}
.textpic .textpic-below-left .textpic-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textpic .textpic-below-left .textpic-images a {
  width: 100%;
}
@media (min-width: 48em) {
  .textpic .textpic-below-left .textpic-images a {
    width: 50%;
  }
}
.textpic .textpic-below-left .textpic-images picture {
  display: flex;
}
.textpic .textpic-below-left .textpic-images img,
.textpic .textpic-below-left .textpic-images svg {
  width: 100%;
  height: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 80em) {
  .textpic .textpic-below-left .textpic-images img,
  .textpic .textpic-below-left .textpic-images svg {
    max-height: 25rem;
  }
}
.textpic .textpic-intext-left {
  grid-template-columns: 1fr;
}
.textpic .textpic-intext-left .textpic-images img,
.textpic .textpic-intext-left .textpic-images svg {
  width: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 48em) {
  .textpic .textpic-intext-left {
    display: block;
  }
  .textpic .textpic-intext-left .textpic-images {
    float: left;
    margin-right: 1.25rem;
  }
  .textpic .textpic-intext-left .textpic-images img,
  .textpic .textpic-intext-left .textpic-images svg {
    width: 33vw;
    max-height: initial;
  }
  .textpic .textpic-intext-left .rte-wrapper .header-headings {
    overflow: hidden;
  }
}
.textpic .textpic-intext-right {
  grid-template-columns: 1fr;
}
.textpic .textpic-intext-right .textpic-images img,
.textpic .textpic-intext-right .textpic-images svg {
  width: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 48em) {
  .textpic .textpic-intext-right {
    display: block;
  }
  .textpic .textpic-intext-right .textpic-images {
    float: right;
    margin-left: 1.25rem;
  }
  .textpic .textpic-intext-right .textpic-images img,
  .textpic .textpic-intext-right .textpic-images svg {
    width: 33vw;
    max-height: initial;
  }
  .textpic .textpic-intext-right .rte-wrapper .header-headings {
    overflow: hidden;
  }
}
@media (min-width: 48em) {
  .textpic .textpic-intext-right-flex {
    flex-direction: row;
  }
}
.textpic .textpic-intext-right-flex .textpic-images {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .textpic .textpic-intext-right-flex .textpic-images {
    width: 33.3333333333%;
  }
}
.textpic .textpic-intext-right-flex .textpic-images img, .textpic .textpic-intext-right-flex .textpic-images svg {
  width: 100%;
  height: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 48em) {
  .textpic .textpic-intext-right-flex .textpic-images img, .textpic .textpic-intext-right-flex .textpic-images svg {
    height: 25rem;
    max-height: 25rem;
  }
}
@media (min-width: 48em) {
  .textpic .textpic-intext-right-flex .rte-wrapper {
    width: 66.6666666667%;
  }
}
@media (min-width: 48em) {
  .textpic .textpic-intext-left-flex {
    flex-direction: row-reverse;
  }
}
.textpic .textpic-intext-left-flex .textpic-images {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .textpic .textpic-intext-left-flex .textpic-images {
    width: 33.3333333333%;
  }
}
.textpic .textpic-intext-left-flex .textpic-images img, .textpic .textpic-intext-left-flex .textpic-images svg {
  width: 100%;
  height: 100%;
  max-height: 12.5rem;
  object-fit: cover;
}
@media (min-width: 48em) {
  .textpic .textpic-intext-left-flex .textpic-images img, .textpic .textpic-intext-left-flex .textpic-images svg {
    height: 25rem;
    max-height: 25rem;
  }
}
@media (min-width: 48em) {
  .textpic .textpic-intext-left-flex .rte-wrapper {
    width: 66.6666666667%;
  }
}
