.textpic .textpic-wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 1.25rem;
  row-gap: 1.5rem;
}
@media (min-width: 48em) {
  .textpic .textpic-wrapper {
    row-gap: 2rem;
  }
}
@media (min-width: 80em) {
  .textpic .textpic-wrapper {
    row-gap: 2.5rem;
  }
}
.textpic .textpic-wrapper .textpic-images {
  display: grid;
  gap: 0.625rem;
}
.textpic .textpic-wrapper .textpic-images img {
  width: initial;
  height: initial;
  border-radius: 0.5rem;
}
.textpic .textpic-wrapper .textpic-images .video {
  width: 100%;
  height: 100%;
}
.textpic .textpic-wrapper .textpic-images .video iframe, .textpic .textpic-wrapper .textpic-images .video video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  background-color: var(--black);
}
.textpic .textpic-above-center .textpic-images, .textpic .textpic-below-center .textpic-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.textpic .textpic-above-center .textpic-images picture, .textpic .textpic-below-center .textpic-images picture {
  display: flex;
}
