// Imports
@import "functions";
@import "variables";


// _mixins.scss
// break
@mixin break($var: null) {
  .break--#{$var} {
    flex-direction: column;

    @media screen and (min-width: breakpoint(#{$var})) {
      flex-direction: row;
    }
  }
}

// flex--size
@mixin flex-size($var: null) {
  @each $name in $flex-percentages {
    .flex--#{$var}-#{$name} {
      width: 100%;

      $percent: '%';

      @media screen and (min-width: breakpoint(#{$var})) {
        width: calc(#{$name}#{$percent} - var(--flex-between));
      }
    }
  }
}
