// Sizes
$sizes: (
  xs,
  sm,
  md,
  lg,
  xl,
  2xl
);

// Breakpoints
$breakpoints: (
  xs: 15em,    // Ab 240px
  sm: 40em,    // Ab 640px
  md: 48em,    // Ab 768px
  lg: 64em,    // Ab 1024px
  xl: 80em,    // Ab 1280px
  2xl: 96em    // Ab 1536px
);
