// _variables.scss

// Colors
$colors: (
        'black': #000000,
        'white': #ffffff,
        'error': #d42525,
        'warning': #e3ad40,
        'success': #88c433,
        'link': #6b8ec8,
        'link-hover': #9c644f,
        'primary': #299d9f,
        'secondary': #ffffff,
        'lightgrey': #eeeeee,
);

$margin-lr: 2rem;
$flex-between: 0.5rem;

// Flex Sizes
$flex-sizes: (
        'sm',
        'md',
        'lg',
        'xl',
        'xxl'
);

// Breakpoints
$breakpoints: (
        // Ab 240px, based on 16px Browser's internal font-size
        'xs': 15em,
        // Ab 540px, based on 16px Browser's internal font-size
        'sm': 33.75em,
        // Ab 768px, based on 16px Browser's internal font-size
        'md': 48em,
        // Ab 1080px, based on 16px Browser's internal font-size
        'lg': 67.5em,
        // Ab 1366px, based on 16px Browser's internal font-size
        'xl': 85.375em,
        // Ab 1650px, based on 16px Browser's internal font-size
        'xxl': 103.125em
);

// Flex Percentages
$flex-percentages: (
        '20': $flex-between,
        '25': $flex-between,
        '30': $flex-between,
        '33': $flex-between,
        '50': $flex-between,
        '66': $flex-between,
        '70': $flex-between,
        '75': $flex-between,
        '80': $flex-between
);

// Gaps - TOP / BOTTOM
$gaps: (
        'xs': (
                '10': 0.55rem,
                '20': 1.11rem,
                '30': 1.66rem,
                '40': 2.22rem,
                '50': 2.77rem,
                '60': 3.33rem,
                '70': 3.88rem,
                '80': 4.44rem,
                '90': 5.00rem,
                '100': 5.55rem,
                '125': 6.94rem,
                '150': 8.33rem,
                '180': 10.00rem,
                '200': 11.11rem,
                '230': 12.77rem,
                '250': 13.88rem,
                '330': 18.33rem,
                '370': 20.55rem,
                '430': 23.88rem,
                '470': 26.11rem,
                '530': 29.44rem
        ),
        'sm': (
                '10': 0.55rem,
                '20': 1.11rem,
                '30': 1.66rem,
                '40': 2.22rem,
                '50': 2.77rem,
                '60': 3.33rem,
                '70': 3.88rem,
                '80': 4.44rem,
                '90': 5.00rem,
                '100': 5.55rem,
                '125': 6.94rem,
                '150': 8.33rem,
                '180': 10.00rem,
                '200': 11.11rem,
                '230': 12.77rem,
                '250': 13.88rem,
                '330': 18.33rem,
                '370': 20.55rem,
                '430': 23.88rem,
                '470': 26.11rem,
                '530': 29.44rem
        ),
        'md': (
                '10': 0.55rem,
                '20': 1.11rem,
                '30': 1.66rem,
                '40': 2.22rem,
                '50': 2.77rem,
                '60': 3.33rem,
                '70': 3.88rem,
                '80': 4.44rem,
                '90': 5.00rem,
                '100': 5.55rem,
                '125': 6.94rem,
                '150': 8.33rem,
                '180': 10.00rem,
                '200': 11.11rem,
                '230': 12.77rem,
                '250': 13.88rem,
                '330': 18.33rem,
                '370': 20.55rem,
                '430': 23.88rem,
                '470': 26.11rem,
                '530': 29.44rem
        ),
        'lg': (
                '10': 0.55rem,
                '20': 1.11rem,
                '30': 1.66rem,
                '40': 2.22rem,
                '50': 2.77rem,
                '60': 3.33rem,
                '70': 3.88rem,
                '80': 4.44rem,
                '90': 5.00rem,
                '100': 5.55rem,
                '125': 6.94rem,
                '150': 8.33rem,
                '180': 10.00rem,
                '200': 11.11rem,
                '230': 12.77rem,
                '250': 13.88rem,
                '330': 18.33rem,
                '370': 20.55rem,
                '430': 23.88rem,
                '470': 26.11rem,
                '530': 29.44rem
        ),
        'xl': (
                '10': 0.55rem,
                '20': 1.11rem,
                '30': 1.66rem,
                '40': 2.22rem,
                '50': 2.77rem,
                '60': 3.33rem,
                '70': 3.88rem,
                '80': 4.44rem,
                '90': 5.00rem,
                '100': 5.55rem,
                '125': 6.94rem,
                '150': 8.33rem,
                '180': 10.00rem,
                '200': 11.11rem,
                '230': 12.77rem,
                '250': 13.88rem,
                '330': 18.33rem,
                '370': 20.55rem,
                '430': 23.88rem,
                '470': 26.11rem,
                '530': 29.44rem
        ),
        'xxl': (
                '10': 0.55rem,
                '20': 1.11rem,
                '30': 1.66rem,
                '40': 2.22rem,
                '50': 2.77rem,
                '60': 3.33rem,
                '70': 3.88rem,
                '80': 4.44rem,
                '90': 5.00rem,
                '100': 5.55rem,
                '125': 6.94rem,
                '150': 8.33rem,
                '180': 10.00rem,
                '200': 11.11rem,
                '230': 12.77rem,
                '250': 13.88rem,
                '330': 18.33rem,
                '370': 20.55rem,
                '430': 23.88rem,
                '470': 26.11rem,
                '530': 29.44rem
        )
);
