// Imports
@import 'functions';
@import 'variables';
@import "mixins";


// Container.scss
.content {
  width: 100%;
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;

  .full {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.full {
  width: 100%;
  max-width: calc(100% + var(--container-margin) * 2);
  margin-left: calc(0% - var(--container-margin));
  margin-right: calc(0% - var(--container-margin));

  .full {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
