// Imports
@import "functions";

// Gaps - TOP / BOTTOM
@each $gap, $value in $gaps {
  .frame-space-before-#{$gap} {
    margin-top: $value;
  }

  .frame-space-after-#{$gap} {
    margin-bottom: $value;
  }

  .frame-space-inline-before-#{$gap} {
    padding-top: $value;
  }

  .frame-space-inline-after-#{$gap} {
    padding-bottom: $value;
  }
}
