// Imports
@import "functions";
@import "variables";

// Gaps - TOP / BOTTOM
@each $gap, $options in $gaps {
  @media screen and (min-width: breakpoint($gap)) {
    @each $size, $value in $options {
      .frame-space-before-#{$size} {
        margin-top: $value;
      }

      .frame-space-after-#{$size} {
        margin-bottom: $value;
      }

      .frame-space-inline-before-#{$size} {
        padding-top: $value;
      }

      .frame-space-inline-after-#{$size} {
        padding-bottom: $value;
      }
    }
  }
}
