@import "fonts";
@import "functions";
@import "rte";

:root {
  /* Anchor Scroll Padding */
  --scroll-pt: #{rem(66)};

  /* Colors */
  --black: #000;
  --white: #fff;
  --lightgrey: #eee;
  --yellow: #ffff00;
  --glass-light: rgba(234, 233, 227, 0.1);
  --glass-dark: rgba(0, 0, 0, 0.65);
  --gradient: linear-gradient(to right, #f15757, #3b82f6);

  /* Navigation Container */
  --max-width-nav: #{rem(1640)};
  --max-mx-nav: calc((100% - var(--max-width-nav)) / 2);
  --min-mx-nav: #{rem(22)};
  --max-x-nav: max(var(--min-mx-nav), var(--max-mx-nav));

  /* Container */
  --max-width: #{rem(1380)};
  --max-mx: calc((100% - var(--max-width)) / 2);
  --min-mx: #{rem(24)};
  --max-x: max(var(--min-mx), var(--max-mx));

  /* Container-XL */
  --max-width-xl: #{rem(1536)};
  --max-mx-xl: calc((100% - var(--max-width-xl)) / 2);
  --min-mx-xl: #{rem(8)};
  --max-x-xl: max(var(--min-mx-xl), var(--max-mx-xl));

  @media screen and (min-width: breakpoint(md)) {
    --min-mx-nav: #{rem(40)};
    --min-mx: #{rem(40)};
    --min-mx-xl: #{rem(24)};
  }
}

html {
  font-family: Inter;
  scroll-behavior: smooth;
  
  @media (min-width: breakpoint(xl)) {
    scroll-padding-top: var(--scroll-pt);
  }

  @media screen and (min-width: 1921px) {
    font-size: calc(1vw - 1.2px);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

header.navigation {
  position: unset;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-bottom: rem(1) solid var(--lightgrey);
  padding: rem(12) var(--max-x-nav);
  z-index: 100;

  @media (min-width: breakpoint(xl)) {
    position: sticky;
  }

  .navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(40);
    width: 100%;

    .navigation-brand {
      a {

        svg,
        img {
          width: auto;
          max-height: rem(28);

          @media (min-width: breakpoint(xl)) {
            max-height: unset;
          }
        }
      }
    }

    .navigation-list {
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      width: 100%;
      z-index: 100;

      @media not (min-width: breakpoint(xl)) {
        background-color: var(--white);
        border-top: rem(1) solid var(--lightgrey);
        padding: rem(6) var(--max-x-nav) rem(20);
      }

      @media (min-width: breakpoint(xl)) {
        position: initial;
        justify-content: flex-end;
      }

      .level1-menu {
        display: flex;
        justify-content: space-around;
        column-gap: rem(20);
        width: 100%;

        @media (min-width: breakpoint(xl)) {
          justify-content: flex-end;
          align-items: center;
          column-gap: rem(40);
        }

        .level1,
        .level1-more-menu {
          text-align: center;

          .level1-link,
          .level1-more,
          .level1-more-btn {

            svg,
            img {
              width: rem(24);
              height: rem(24);

              @media (min-width: breakpoint(xl)) {
                display: none;
              }
            }
          }
        }

        .level1-more-menu {
          contain: layout;

          .level1-more-wrapper {
            display: flex;
            align-items: center;
            column-gap: rem(40);

            @media not (min-width: breakpoint(xl)) {
              position: fixed;
              bottom: rem(56);
              right: rem(-16);
              display: none;
              flex-direction: column;
              align-items: flex-start;
              row-gap: rem(12);
              background: var(--white);
              padding: rem(12) rem(16);
              border-radius: rem(8);
              border: rem(1) solid var(--lightgrey);
              width: max-content;
            }

            .level1-more {

              svg,
              img {
                width: rem(24);
                height: rem(24);

                @media (min-width: breakpoint(xl)) {
                  display: none;
                }
              }
            }
          }

          .level1-more-open {
            @media not (min-width: breakpoint(xl)) {
              display: flex;
            }
          }
        }
      }
    }
  }
}

main.content {
  min-height: 100vh;
}

footer {
  color: var(--lightgrey);
  background-color: #222;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  // hyphens: auto;
  // -webkit-hyphens: auto;
  // -moz-hyphens: auto;
  line-height: 1.15;
  margin: 0 0 rem(16);
}

h1,
.h1 {
  font-size: rem(34);
  font-weight: 500;

  @media (min-width: breakpoint(lg)) {
    font-size: rem(60);
  }
}

h2,
.h2 {
  font-size: rem(30);
  font-weight: 500;

  @media (min-width: breakpoint(lg)) {
    font-size: rem(42);
  }
}

h3,
.h3 {
  font-size: rem(24);
  font-weight: 500;

  @media (min-width: breakpoint(lg)) {
    font-size: rem(32);
  }
}

h4,
.h4 {
  font-size: rem(20);
  font-weight: 400;
}

h5,
.h5 {
  font-size: rem(18);
  font-weight: 400;
}

h6,
.h6 {
  font-size: rem(16);
  font-weight: 400;
}

p {
  margin: 0 0 rem(16);
}

p:last-of-type {
  margin: 0;
}

figure {
  position: relative;

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--white);
    background-color: var(--glass-dark);
  }
}

img {
  width: initial;
}

@media (min-width: breakpoint(xl)) {
  .desktop-btn {
    position: relative;
    color: var(--black);
    background: transparent;
    border-radius: rem(4);
    border: 0;
    overflow: hidden;
    transition: color 0.3s;
    font-size: rem(14);
    padding: rem(8) rem(12);
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: -300%;
      left: -25%;
      right: -25%;
      bottom: -300%;
      background: var(--gradient);
      border-radius: rem(4);
      z-index: -2;
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(2);
      left: rem(2);
      right: rem(2);
      bottom: rem(2);
      background: var(--white);
      border-radius: rem(2);
      transition: background-color 0.3s;
      z-index: -1;
    }

    &:hover {
      color: var(--white);

      &::before {
        animation: gradient-anim 5s infinite;
      }

      &::after {
        background: transparent;
      }
    }
  }
}

.primary-btn {
  position: relative;
  color: var(--black);
  background: transparent;
  border-radius: rem(4);
  border: 0;
  overflow: hidden;
  transition: color 0.3s;
  font-size: rem(14);
  padding: rem(12) rem(20);
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    top: -500%;
    left: -25%;
    right: -25%;
    bottom: -500%;
    background: var(--gradient);
    border-radius: rem(4);
    z-index: -2;
  }

  &::after {
    content: '';
    position: absolute;
    top: rem(2);
    left: rem(2);
    right: rem(2);
    bottom: rem(2);
    background: var(--white);
    border-radius: rem(2);
    transition: background-color 0.3s;
    z-index: -1;
  }

  &:hover {
    color: var(--white);

    &::before {
      animation: gradient-anim 5s infinite;
    }

    &::after {
      background: transparent;
    }
  }
}

@keyframes gradient-anim {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}

time {
  display: block;
  margin: 0 0 rem(16);
  font-size: rem(12);
}

.header-headings {
  h1, h2, h3, h4, h5, h6 {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gradient);
    width: fit-content;
  }
}

.rte-left {
  display: flex;
  justify-content: flex-start;
}

.rte-center {
  display: flex;
  justify-content: center;
}

.rte-right {
  display: flex;
  justify-content: flex-end;
}

.headline-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headline-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.blocked-media {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(40);
    height: rem(40);
    background: url('../Icons/play.svg') center center no-repeat;
    background-size: 100%;
    cursor: pointer;
    z-index: 5;

    @media (min-width: breakpoint(md)) {
      width: rem(64);
      height: rem(64);
    }
  }
}

.site_error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;

  .header-headings {
    display: flex;
    align-items: center;
    gap: rem(20);

    .site_error_num {
      margin: 0;
    }

    .site_error_pip {
      width: rem(2);
      height: rem(100);
      background-color: var(--lightgrey);
    }

    .site_error_msg {
      margin: 0;
      color: var(--black);
    }
  }
}
