@import "functions";

.image {
  overflow: hidden;

  .image-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    gap: rem(10);

    .grid-item {
      grid-row: span 2;
    }

    .grid-item:nth-child(even) {
      grid-column: span 4;
    }

    .grid-item:nth-child(odd) {
      grid-column: span 6;
    }

    .grid-item:nth-child(3n) {
      grid-column: span 2;
    }

    .grid-item:nth-child(4n) {
      grid-column: span 8;
    }

    img {
      width: 100%;
      height: rem(200);
      max-width: 100%;
      border-radius: rem(8);
      object-fit: cover;

      @media (min-width: breakpoint(xl)) {
        height: rem(400);
      }
    }
  }

  .image-left {
    justify-content: flex-start;
  }

  .image-center {
    justify-content: center;
  }

  .image-right {
    justify-content: flex-end;
  }
}