// Imports
@import 'functions';
@import 'variables';

// layout.scss
.content-main {

}

.site_error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .inline {
    display: flex;
    align-items: center;

    .site_error_num {
      font-size: 2em;
    }

    .site_error_pip {
      margin: 0 0.5rem;
      width: 1px;
      height: 5rem;
      background-color: color('black');
    }

    .site_error_msg {
      font-size: 1em;
      align-self: flex-end;
    }
  }
}

.hidden {
  display: none;
}
