// Imports
@import 'functions';
@import 'variables';

// layout.scss
.content-main {

}

.site_error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .site_error_num {
    font-size: 2em;
  }
}
