// Imports
@import 'functions';
@import 'variables';

// layout.scss
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  padding: 0 calc(var(--container-margin) / 2);
  z-index: 1000;

  @media screen and (min-width: breakpoint('md')) {
    padding: 0 var(--container-margin);
  }

  .navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.66rem;

    .logo {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1002;
    }
  }
}

.fixed {
  .navigation {
    position: fixed;
    background-color: var(--background);
    box-shadow: 0 0 1rem rgb(0 0 0 / 10%);
  }
}

.main {
  min-height: 100vh;
}

.form-group {
  margin-bottom: 1.94rem;
}

.content-scroll-top {
  position: fixed;
  top: auto;
  bottom: 2rem;
  left: auto;
  right: -100%;
  width: 2rem;
  height: 2rem;
  padding: 0;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  transition: right 0.25s;
}

.scroll-top-show {
  right: 1rem;
}

.site_error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .inline {
    display: flex;
    align-items: center;

    .site_error_num {
      font-size: 2em;
    }

    .site_error_pip {
      margin: 0 0.5rem;
      width: 1px;
      height: 5rem;
      background-color: color('black');
    }

    .site_error_msg {
      font-size: 1em;
      align-self: flex-end;
    }
  }
}

.hidden {
  display: none;
}
