
nav.desktop {
  .level1-menu {
    display: flex;
    justify-content: flex-end;

    .desktop-level1 {
      margin: 0 1.38rem;
      list-style: none;
      padding-bottom: 1.38rem;

      .level2-menu {
        .desktop-level2 {

        }
      }
    }

    .desktop-level1:first-child {
      margin-left: 0;
    }

    .desktop-level1:last-child {
      margin-right: 0;
    }
  }
}
