// Imports
@import "functions";

// Nav Mobile
nav.mobile {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  max-width: 35rem;
  background-color: #eeeeee;
  padding: 3.88rem var(--container-margin) 1.38rem;
  transition: 0.25s;
  overflow-y: auto;
  box-shadow: 0 0 1rem rgb(0 0 0 / 10%);
  z-index: 1001;

  @media screen and (min-width: breakpoint('xl')) {
    display: none;
  }

  .level1-menu {
    padding: 0;

    .mobile-level1 {
      list-style: none;
      padding-bottom: 1.38rem;

      &:hover {
        .level2-menu {
          display: block;
        }
      }

      .level2-menu {
        margin: 1.38rem 0;
        padding: 0;
        background-color: var(--white);
        border-radius: 0.27rem;

        .mobile-level2 {
          list-style: none;
          padding: 0.88rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .mobile-level2:last-child {
          border-bottom: 0;
        }
      }
    }

    .children {
      list-style: initial;
      color: var(--link);
    }
  }
}

nav.mobile-open {
  right: 0;
}

.mobile-menu-btn {
  position: relative;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: transparent;
  border: 0;
  box-shadow: unset;
  z-index: 1002;

  @media screen and (min-width: breakpoint('xl')) {
    display: none;
  }

  &:focus, &:hover, &:active {
    background-color: transparent;
    box-shadow: unset;
  }

  span {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2px;
    background-color: var(--mobile-btn);
    transition: 0.25s;

    &:before {
      content: '';
      position: absolute;
      top: -0.5rem;
      left: 0;
      width: 2rem;
      height: 2px;
      background-color: var(--mobile-btn);
      transition: 0.25s;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0.5rem;
      left: 0;
      width: 2rem;
      height: 2px;
      background-color: var(--mobile-btn);
      transition: 0.25s;
    }
  }
}

.mobile-btn-active {
  span {
    background-color: transparent;

    &:before {
      transform: rotate(-45deg) translate(-6px, 6px);
      background-color: var(--error);
    }

    &:after {
      transform: rotate(45deg) translate(-6px, -6px);
      background-color: var(--error);
    }
  }
}
