
nav.desktop {
  .level1-menu {
    display: flex;
    justify-content: flex-end;

    .desktop-level1 {
      margin: 0 1.38rem;
      list-style: none;
      padding-bottom: 1.38rem;

      &:hover {
        .level2-menu {
          display: block;
        }
      }

      .level2-menu {
        display: none;
        padding: 0;

        .desktop-level2 {
          list-style: none;
          padding: 1.38rem 0 0;
        }
      }
    }

    .desktop-level1:first-child {
      margin-left: 0;
    }

    .desktop-level1:last-child {
      margin-right: 0;
    }
  }
}
